<script type="text/javascript">
	$("nav").addClass("solid");
	setTimeout(function(){
		$("#footer-signup").hide();
		$("footer").hide();
	}, 0);
</script>

<section>
	<div class="container">
		<h1 class="title">Wendler Strength Calculator</h1>
		<% if flash[:error] %>
			<div class="alert alert-danger">
			  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			  <strong>Whoops!</strong> <%= flash[:error] %>
			</div>
		<% end %>

		<%= form_tag(tools_wendlers_path, id: "wendler-form") do %>
			<div class="row control-group">
		    <div class="form-group col-xs-12 controls">
		        <label for="weight">Estimated 1 RM</label>
		        <%= number_field_tag "weight" %>
		    </div>
			</div>

			<div class="row control-group">
		    <div class="form-group col-xs-12 controls">
		        <label for="weight">Bar Weight Used</label>
		        <%= number_field_tag "bar_weight" %>
		    </div>
			</div>

			<%= hidden_field_tag "week", "1" %>
		<% end %>


		<div class="weeks">
			<p><%= link_to "Week One", "#1", data: {"week": "1"}, class: "btn btn-block btn-outline-dark" %></p>
			<p><%= link_to "Week Two", "#2", data: {"week": "2"}, class: "btn btn-block btn-outline-dark" %></p>
			<p><%= link_to "Week Three", "#3", data: {"week": "3"}, class: "btn btn-block btn-outline-dark" %></p>
			<p><%= link_to "Week Four", "#4", data: {"week": "4"}, class: "btn btn-block btn-outline-dark" %></p>
		</div>
	</div>
</section>
