<h1>New Message</h1>

<%= form_for(@message, url: admin_messages_path) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row control-group">
    <div class="form-group col-xs-12">
      <%= f.label :created_by %><br>
      <%= f.select :created_by, options_for_select(@coaches), {}, {prompt: "Select an Author"} %>
    </div>
  </div>

  <div class="row control-group">
    <div class="form-group col-xs-12 floating-label-form-group controls" id="message-body">
      <%= f.label :message %><br>
      <%= f.text_area :body, class: "form-control", placeholder: "Message" %>
    </div>
  </div>

  <div class="row control-group">
    <div class="form-group col-xs-12">
	    <%= f.label :recipients %><br>
			<%= f.select :recipients, options_for_select(@clients), {}, {:multiple => true} %>
    </div>
  </div>
  
  <div class="row" style="margin-top:30px">
    <%= f.submit "Send Message", class:  "btn btn-outline-dark" %>
  </div>
<% end %>
