<div class="row content-row text-center">    
    <%= link_to :personal_training_services, class: "services" do %>
        <div class="col-lg-4 offering">
            <img src="https://i2.wp.com/cftaskforce.files.wordpress.com/2016/01/personal-training-min.jpg" alt="personal training">

        <h3>Personal Training</h3>
        <p>Individualized training led with the undivided attention of a coach</p>
        </div>
    <% end %>
    
    <%= link_to :individual_design_services, class: "services" do %>
        <div class="col-lg-4 offering">    
            <img src="https://i2.wp.com/cftaskforce.files.wordpress.com/2016/01/individual-design-min.jpg" alt="individual design">
            
            
            <h3>Individual Design</h3>
          <p>Individualized training plan that can be completed on your own time</p>
        </div>
    <% end %>

    <%= link_to :crossfit_classes_services, class: "services" do %>
        <div class="col-lg-4 offering">  
        <img src="https://i1.wp.com/cftaskforce.files.wordpress.com/2016/01/group-class-min_opimized.jpg" alt="CrossFit Class">
        
        <h3>CrossFit Classes</h3>
        <p>Small group classes led by a coach following the CrossFit methodology</p>
        </div>
    <% end %>
</div>
<div class="row content-row text-center">
    <%= link_to :nutrition_planning_services, class: "services" do %>
        <div class="col-lg-4 offering">
        <img src="https://i0.wp.com/cftaskforce.files.wordpress.com/2016/01/meal-plan-min.jpg" alt="nutrition planning">
        
        <h3>Nutrition Planning</h3>
        <p>In person consultations mixed with monthly tasks to incrementally improve your nutrition</p>
        </div>
    <% end %>

    <%= link_to :inbody_scan_services, class: "services" do %>
        <div class="col-lg-4 offering">
        <img src="https://i1.wp.com/cftaskforce.files.wordpress.com/2016/01/inbody-2-min.jpg" alt="inbody scan">
        
        <h3>InBody Scan</h3>
        <p>Get your body fat, lean muscle mass, basal metabolic rate and more analyzed</p>
        </div>
    <% end %>

    <%= link_to :specialty_courses_services, class: "services" do %>
        <div class="col-lg-4 offering">
        <img src="https://i0.wp.com/cftaskforce.files.wordpress.com/2016/01/gymnastic-2-min.jpg" alt="specialty courses">
        
        <h3>Specialty Courses</h3>
        <p>Six week courses that focus on either weightlifting, gymnastics or endurance training</p>
        </div>
    <% end %>
</div>