<style>
  html { scroll-behavior: smooth; } 
</style>

<% content_for :head_top do %>
  <title>Begin Your Journey</title>
  <meta name="description" content="Cigar City CrossFit offers group and individual training as well as nutrition and specialty classes to help you reach your fitness goals.">
<% end %>

<header style="background-image: url('https://cftaskforce.files.wordpress.com/2016/01/pricing-bg-min.jpg');" class='begin-your-journey'>
  <div class="intro-content">
      <h1 class="brand-name">Cigar City CrossFit</h1>
      <hr class="colored">
      <div class="brand-name-intro">You don't have to be fit to start<div>
  </div>
</header>

<section>
    <div class="row text-center">
      <div class="col-lg-12">
        <h2>Attention Tampa Residents</h2>
        <hr class="colored">
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 begin-journey">
          <p>
            Are you looking to make improvements in your health and fitness? Are you ready to learn from a community of dedicated Coaches and welcoming Athletes? 👋 
          </p>
  
          <p>
            Ready to HAVE FUN, MAKE FRIENDS and get RESULTS? 🙋🏽‍ 
          </p>
  
          <p>
            Book your FREE no sweat intro today with one of our professional coaches to discuss setting realistic goals and how you can achieve them! 🏆
          </p>
  
          <p>
            Our staff of trained professionals are ready to teach you the basics, hold you accountable and jump start your fitness. 🤸🏽‍ 
          </p>
  
          <p>
            Burn fat, gain muscle and boost your confidence. Our classes are designed to be safe, effective and fun. Our goal is for our Athletes to look good and move well. 💪🏽 
          </p>
  
          <p>
            Don’t waste another day wondering, “what if!?” Book now and receive a FREE body composition test with your no sweat intro 👍🏽
          </p>

          <a href="#book-no-sweat-intro" class="btn btn-lg btn-primary apply-btn">
            Click to Book a No Sweat Intro
          </a>
        </div>
      </div>
    </div>
</section>

<section id="testimonials" class='bg-dark'>
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12">
        <h2>Real People. Real Results.</h2>
        <hr class="colored">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <img class="img-responsive" src="https://cftaskforce.files.wordpress.com/2019/08/arielle-before-after-with-whitespace.png"></a>
        <div class="caption">
          <h3>Arielle M.</h3>
          <p>I'm a coach and competitive weightlifter. Focused programming, personal training sessions, and nutrition guidance have helped me set myself apart from the field of competitors, and I recently placed first in the state of Florida in a national weightlifting competition. </p>
        </div>
      </div>
      <div class="col-md-6">
        <img class="img-responsive"
          src="https://cftaskforce.files.wordpress.com/2019/08/jen-before-after-minified.png"></a>
        <div class="caption">
          <h3>Jen M.</h3>
          <p>
            I'm an aerialist and my performances and practice requires a lot from me physically. I started taking group classes to help with my training, and later on signed up for nutrition counseling. I've never felt healthier or stronger, and at 30 years old, I look better than I did 5 years ago.
          </p>
        </div>
      </div>
    </div>

    <div class="row content-row">
        <div class="col-md-6">
          <img class="img-responsive" src="https://cftaskforce.files.wordpress.com/2019/08/chris-before-after-minified.png"></a>
          <div class="caption">
            <h3>Chris C.</h3>
            <p>
              I started CrossFit  in January of 2017 . After being sedentary for over three years, I started taking group classes. I made TONS of progress and although I love group classes, I wanted to test my limits and compete in local competitions. I started individual design with Coach Bunn and since then have competed several times locally and finished in the top ten each time. Thanks to Cigar City I can finally say that I compete in a sport! 
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <img class="img-responsive"
            src="https://cftaskforce.files.wordpress.com/2019/08/max-before-after-minified.png"></a>
          <div class="caption">
            <h3>Max R.</h3>
            <p>
              I started Individual Design with Coach Arielle almost 9 Months ago. I had done CrossFit before, but I had trouble with accountability and was ready for a big change in my life. I couldn't be happier with the results, it’s literally turned my life around.
            </p>
          </div>
        </div>
    </div>

    <a href="#book-no-sweat-intro" class="btn btn-lg btn-primary apply-btn">
      Ready For Your Success Story to Begin?
    </a>
  </div>
</section>

<section id="services">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12">
        <h2>What We Offer</h2>
        <hr class="colored">
        <p>
          You're unique and so should your training plan. We offer the following coaching services to help you achieve
          your goals.
        </p>
      </div>
    </div>
    <div class="row content-row text-center">    
      <%= link_to :crossfit_academy_services, class: "services" do %>
        <div class="col-lg-4 offering">
          <img src="https://i2.wp.com/cftaskforce.files.wordpress.com/2016/01/personal-training-min.jpg"
            alt="personal training">
        
          <h3>CrossFit Academy</h3>
          <p>
            Learn the basics with one of our professional Coaches. Five total classes designed to teach you the fundamentals, learn about the community and set realistic goals based on your lifestyle
          </p>
        </div>
      <% end %>
      
      <%= link_to :crossfit_classes_services, class: "services" do %>
        <div class="col-lg-4 offering">
          <img src="https://i1.wp.com/cftaskforce.files.wordpress.com/2016/01/group-class-min_opimized.jpg"
            alt="CrossFit Class">
        
          <h3>CrossFit Classes</h3>
          <p>
            Train side by side with your new friends in a fun, friendly and inclusive atmosphere. Whether you want to push yourself with some friendly competition, or just need a post workout high five, group classes are where fun and fitness meet.
          </p>
        </div>
      <% end %>

      <%= link_to :nutrition_planning_services, class: "services" do %>
      <div class="col-lg-4 offering">
        <img src="https://i0.wp.com/cftaskforce.files.wordpress.com/2016/01/meal-plan-min.jpg"
          alt="nutrition planning">
      
      
        <h3>Nutrition Counseling</h3>
        <p>
          Nutrition is one of the hardest aspects of fitness outside the gym. We have more than 50 clients that receive nutrition counseling to help them lose weight and feel great. We’ll help you meet your goals with one of our Precision Nutrition certified coaches.
        </p>
      </div>
    <% end %>
    </div>

    <div class="row content-row text-center">
      <%= link_to :personal_training_services, class: "services" do %>
      <div class="col-lg-4 offering">
        <img src="https://cftaskforce.files.wordpress.com/2019/08/personal-training-minified.png" alt="personal training">
    
        <h3>Personal Training</h3>
        <p>
          Work one on one with one of our coaches. Flexible scheduling and programming designed specifically for you and your goal. Personal training is perfect for someone who wants more attention and accountability.
        </p>
      </div>
      <% end %>
    
      <%= link_to :individual_design_services, class: "services" do %>
      <div class="col-lg-4 offering">
        <img src="https://i2.wp.com/cftaskforce.files.wordpress.com/2016/01/individual-design-min.jpg" alt="individual design">
    
        <h3>Individual Design</h3>
        <p>
          Programming designed specifically for you and your goals. Individual Design is perfect for individuals who have specific goals associated with performance. Looking to take your fitness to the next level, individual design might be for you.
        </p>
      </div>
      <% end %>
    
      <%= link_to :specialty_courses_services, class: "services" do %>
      <div class="col-lg-4 offering">
        <img src="https://i0.wp.com/cftaskforce.files.wordpress.com/2016/01/gymnastic-2-min.jpg" alt="specialty courses">
    
        <h3>Specialty Courses</h3>
        <p>
          Classes that focus on developing skill, technique and strength. We have classes that focus on weighlifting, aerobic capacity and strongman. We also have specialty courses that cover gymnastics, weightlifting, and even postpartum athletics.
        </p>
      </div>
      <% end %>
    </div>
  </div>
</section>

<section id="social-proof" class="bg-dark">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12">
        <h2>The Internet Loves Us</h2>
        <hr class="colored">
      </div>
    </div>
    <div class="col-lg-12">
      <div class="row content-row">
        <div class="col-lg-4">
          <div class="info-box">
            <div class="row">
              <div class="col-md-2">
                <%= fa_icon "star", class: "fa-2x" %>
              </div>
              <div class="text col-md-10">
                200+ 5-Star Reviews
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="info-box">
            <div class="row">
              <div class="col-md-2">
                <%= fa_icon "thumbs-up", class: "fa-2x" %>
              </div>
              <div class="text col-md-10">
                2100+ Facebook Likes
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="info-box">
            <div class="row">
              <div class="col-md-2">
                <%= fa_icon "instagram", class: "fa-2x" %>
              </div>
              <div class="text col-md-10">
                7000+ Instagram Followers
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row content-row">
        <div class="col-lg-6">
          <img class="img-responsive"
            src="https://cftaskforce.files.wordpress.com/2017/11/screen-shot-2018-04-26-at-4-52-46-pm.png">
        </div>

        <div class="col-lg-6">
          <img class="img-responsive"
            src="https://cftaskforce.files.wordpress.com/2017/11/screen-shot-2018-04-26-at-4-53-02-pm.png"
            style="float:right">
        </div>
      </div>

    </div>
  </div>
</section>

<section id='book-no-sweat-intro'>
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12">
        <h2>Talk With a Coach</h2>
        <hr class="colored">
      </div>
    </div>
    <div class="row content-row text-center">
      <div class="col-lg-12">
        <div class="content">
          <p>
            This is a no sweat 30 minute introduction. We'll talk about your goals and how we can best meet your needs.
          </p>
  
          <div class="row content-row text-center" style="margin-top:50px">
            <iframe src="https://app.acuityscheduling.com/schedule.php?owner=15622888&appointmentType=6395467"
              width="100%" height="800" frameBorder="0"></iframe>
            <script src="https://d3gxy7nm8y4yjr.cloudfront.net/js/embed.js" type="text/javascript"></script>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
