<% content_for :head_top do %>
    <title>6 Week CrossFit Challenge</title>
    <meta name="description" content="New to CrossFit? Don't know where to get started? Our 6 week challenge will kick your butt and supercharge your fitness goals.">
<% end %>

<header style="background-image: url('https://cftaskforce.files.wordpress.com/2016/01/wall-back2.jpg');">
    <a href="/">
        <img src="<%=asset_path('logos/black-trans.png')%>" class="top-left-logo" alt="Cigar City CrossFit Logo">
    </a>
    <div class="header-wrapper">
    <div class="header">
        <h1>6 Week CrossFit Challenge</h1>
        <h4>Starts Monday, May 15th</h4>
        <p>Burn Fat. Build Strength. Find Your Best Self.</p>
    </div>
    
    <div class="intro-content">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/mlVrkiCoKkg"></iframe>
            <!-- New You Challenge official video -->
            <!-- <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/MEbwZudTz2M"></iframe> -->
        </div>
        <h3>Who are we looking for?</h3>
        <p>You don't have to be in great shape. It's built for beginners.</p>
    </div>
    </div>
</header>

<div class="challenge">
<section id="about">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>Are You the Right Fit?</h2>
                <hr class="colored">
                <p>Let's Crush Beach Season</p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="col-lg-6">
                    <div class="info-box">
                        <div class="row">
                            <div class="col-md-2">
                                <%= fa_icon "check", class: "fa-2x" %>
                            </div>
                            <div class="col-md-10">
                                Must be willing to commit to coming into the gym 3x per week.
                            </div>
                        </div>
                    </div>
                    <div class="info-box">
                        <div class="row">
                            <div class="col-md-2">
                                <%= fa_icon "check", class: "fa-2x" %>
                            </div>
                            <div class="col-md-10">
                                Must have the discipline to follow our nutrition plan.  This is critical.
                            </div>
                        </div>
                    </div>
                    <div class="info-box">
                        <div class="row">
                            <div class="col-md-2">
                                <%= fa_icon "check", class: "fa-2x" %>
                            </div>
                            <div class="col-md-10">
                                Must enjoy working in a group environment. The energy at a CrossFit gym is infectious.
                            </div>
                        </div>
                    </div>
                    <div class="info-box">
                        <div class="row">
                            <div class="col-md-2">
                                <%= fa_icon "check", class: "fa-2x" %>
                            </div>
                            <div class="col-md-10">
                                This is not a "biggest loser" type challenge. Not everybody will be coming in with the goal of weight loss. All transformations are welcome.
                            </div>
                        </div>
                    </div>
                    <div class="info-box">
                        <div class="row">
                            <div class="col-md-2">
                                <%= fa_icon "check", class: "fa-2x" %>
                            </div>
                            <div class="col-md-10">
                                Must respect the rules of the gym. They're in place to set the culture. The culture is in place to give you the best workout experience possible.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="info-box">
                        <div class="row">
                            <div class="col-md-2">
                                <%= fa_icon "check", class: "fa-2x" %>
                            </div>
                            <div class="col-md-10">
                                Must have a love of learning. We'll be teaching you new moves and habits.
                            </div>
                        </div>
                    </div>
                    <div class="info-box">
                        <div class="row">
                            <div class="col-md-2">
                                <%= fa_icon "check", class: "fa-2x" %>
                            </div>
                            <div class="col-md-10">
                                Must be willing to leave your ego at the door. CrossFit is humbling.
                            </div>
                        </div>
                    </div>
                    <div class="info-box">
                        <div class="row">
                            <div class="col-md-2">
                                <%= fa_icon "check", class: "fa-2x" %>
                            </div>
                            <div class="col-md-10">
                                Must always keep a positive attitude and support other athletes. No negatives vibes.
                            </div>
                        </div>
                    </div>
                    <div class="info-box">
                        <div class="row">
                            <div class="col-md-2">
                                <%= fa_icon "check", class: "fa-2x" %>
                            </div>
                            <div class="col-md-10">
                                Must be committed to making this change. This will not work if the coaches and I want to see you reach your goals more than you do!
                            </div>
                        </div>
                    </div>
                    <div class="info-box">
                        <div class="row">
                            <div class="col-md-2">
                                <%= fa_icon "check", class: "fa-2x" %>
                            </div>
                            <div class="col-md-10">
                                Must commit to the entire 6 weeks. The first week is brutal. We need people who will be here until the end to reap all the benefits of their efforts.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8 col-lg-offset-2">
                    <p class="price"><span class="strikeout">$300</span> $249 to change your life</p>
                    <a href="#schedule-form-modal" data-toggle="modal" class="btn btn-lg btn-outline-dark apply-btn">Apply Now</a>
                </div>
            </div>
        </div>
    </div>
</section>

<aside class="cta-quote" style="background-image: url('https://cftaskforce.files.wordpress.com/2016/01/mens-only-6-week-challenge-bg.jpg');">
    <h2>The secret to getting ahead</h2>
    <h2>is getting started</h2>
</aside>

<section id="testimonials" class="bg-dark">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>Real People. Real Results.</h2>
                <hr class="colored">
            </div>
        </div>
        <div class="row">
            <div class="card first">
                <div class="testimonial-img">
                    <img src="https://cftaskforce.files.wordpress.com/2016/01/steve-headshot-1.jpg" class="img-circle img-responsive" alt="">
                    <h4>Steven Narad</h4>
                </div>
                <p>
                    Previously, I was in the Air Force and living in Washington, DC.  I was a bit nervous moving as I didn't know anyone in Tampa. I joined Cigar City CrossFit and it's been the best decision I've made since arriving.  The gym is massive with tons of new equipment.  Ben and Mike are some of the best coaches I've ever been around.  Each of them have their own style and it's funny watching them interact.
                </p>
                <p>
                    Oh, and the results speak for themselves.  I'm the strongest and leanest I've ever been and that's including my Air Force days.  If you're looking to get great results while being surrounded by welcoming, like-minded people - this is the gym to train at!
                </p>
            </div>
            <div class="card">
                <div class="testimonial-img">
                    <img src="https://cftaskforce.files.wordpress.com/2016/01/blayne-headshot.jpg" class="img-circle img-responsive" alt="">
                    <h4>Blayne Smith</h4>
                </div>
                <p>
                    I've been dropping into Cigar City CrossFit since it's opening day.  I knew Ben previously as we were both Special Forces in the Army.  I've dropped into a lot of CrossFit gyms in my time and I can say without a doubt this is one of the best.  Any gym can have nice equipment, which they do, but it takes a special gym to build the type of inclusive and welcoming community they've established.
                </p>
                <p>
                   As Ben likes to say, it's the Katy Perry gym, where people young and old come to get the fittest they've ever been.  I travel a good deal for work but I love spending the time I do have with athletes and coaches at Cigar City CrossFit.  Check them out, you won't be disappointed. 
                </p>
            </div>
        </div>
        <div class="row content-row">
            <div class="card first">
                <div class="testimonial-img">
                    <img src="https://cftaskforce.files.wordpress.com/2016/01/alex-headshot21.jpg" class="img-circle img-responsive" alt="">
                    <h4>Alex Hollings</h4>
                </div>
                <p>
                    I've lived all over and trained at multiple CrossFit gyms.  Cigar City CrossFit is my favorite so far.  Ben and Mike know what they are doing and they care.  They make it a point to greet everyone by their first name when they walk into the gym every day.  The energy they bring is infectious and makes you want to get after it.  It doesn't matter what kind of day I'm having, after I train with these guys, I feel better.
                </p>
                <p>
                    I get what it's like starting out as a beginner.  I was new to CrossFit once upon a time.  I see how they teach beginners the basics every day and it amazes me to watch how far those novice athletes have progressed. I love training here and I'm happy to call them my friends as well.
                </p>
            </div>
            <div class="card two">
                <div class="testimonial-img">
                    <img src="https://cftaskforce.files.wordpress.com/2016/01/dan-headshot1.jpg" class="img-circle img-responsive" alt="">
                    <h4>Dan Brock</h4>
                </div>
                <p>
                    If you care about results, this is the gym to train at.  Mike and Ben know what they are doing, which seems to be a rare occurrence in the fitness world these days.  I've been pushed to my limits every day and I have reaped the benefits.  I'm the fittest I've ever been.  I've PR'ed my back squat, front squat, overhead squat, pullups, clean, snatch... the list literally goes on and on.
                </p>
                <p>
                    I've tried all types of fitness in my time.  From Orange Theory, yoga, spin and bodybuilding.  CrossFit has gotten me to my highest level of fitness and it's in large part because Ben and Mike are behind the steering wheel.  If you're new to CrossFit, do the 6 Week Challenge - it'll get you up and running with the big dogs in no time.
                </p>
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2" style="margin-top:15px;">
            <p class="price pull-left"><span class="strikeout">$300</span> $249 to change your life</p>
            <a href="#schedule-form-modal" data-toggle="modal" class="btn btn-lg btn-primary apply-btn">Apply Now</a>
        </div>
    </div>
</section>

<section class="bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <img src="https://cftaskforce.files.wordpress.com/2016/01/ben_and_mike.jpg">
            </div>
            <div class="col-lg-8">
                <h3 style="margin-top:0px">Michael and Ben - Owners, Cigar City CrossFit</h3>

                <p>
                    This challenge was created to introduce CrossFit to a broader population.  We have personally seen how CrossFit can dramatically change the lives of those who commit to the process.  This challenge was created to introduce CrossFit to those who would absolutely benefit from the training, but who may be too intimidated to come out and try it on their own.
                </p>

                <p>
                    We are trying to find the right men who will work hard, finish the full 6 weeks, and ultimately be an amazing representation of what is possible through CrossFit training.  If this sounds like something you would like to be a part of, fill out an application ASAP.  We always fill up quickly.  We look forward to meeting you in person very soon.
                </p>
            </div>
        </div>
    </div>
</section>

<div class="portfolio-modal modal fade" id="schedule-form-modal" tabindex="-1" role="dialog" style="background:#222222" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h2>Schedule Your Interview</h2>
                        <p>We require a 20 minute in person interview to determine if you'll be the right fit for this challenge. You'll get a chance to meet us, see the facility and discuss why you haven't been able to hit your fitness goals yet.</p>
                        <%#= render partial: "schedule_once_form" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>