<% content_for :head_top do %>
    <title>6 Week CrossFit Challenge</title>
    <meta name="description" content="New to CrossFit? Don't know where to get started? Our 6 week challenge will kick your butt and supercharge your fitness goals.">
<% end %>

<header style="background-image: url('https://cftaskforce.files.wordpress.com/2016/01/wall-back2.jpg');">
    <a href="/">
        <img src="<%=asset_path('logos/black-trans.png')%>" class="top-left-logo" alt="Cigar City CrossFit Logo">
    </a>
    <div class="header-wrapper">
    <div class="header">
        <h1>6 Week CrossFit Challenge</h1>
        <h4>Starts October 3rd</h4>
        <p>Burn Fat. Build Strength. Find Your Best Self.</p>
    </div>
    
    <div class="intro-content">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/mlVrkiCoKkg"></iframe>
        </div>
        <h3>Who are we looking for?</h3>
        <p>You don't have to be in great shape. It's built for beginners.</p>
    </div>
    </div>
</header>

<section id="about">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>Are You the Right Fit?</h2>
                <hr class="colored">
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="col-lg-6">
                    <div class="info-box">
                        <div class="row">
                            <div class="col-md-2">
                                <%= fa_icon "check", class: "fa-2x" %>
                            </div>
                            <div class="col-md-10">
                                Must be willing to commit to coming into the gym 3x per week.
                            </div>
                        </div>
                    </div>
                    <div class="info-box">
                        <div class="row">
                            <div class="col-md-2">
                                <%= fa_icon "check", class: "fa-2x" %>
                            </div>
                            <div class="col-md-10">
                                Must have the discipline to follow our nutrition plan.  This is critical.
                            </div>
                        </div>
                    </div>
                    <div class="info-box">
                        <div class="row">
                            <div class="col-md-2">
                                <%= fa_icon "check", class: "fa-2x" %>
                            </div>
                            <div class="col-md-10">
                                Must enjoy working in a group environment. The energy at a CrossFit gym is infectious.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="info-box">
                        <div class="row">
                            <div class="col-md-2">
                                <%= fa_icon "check", class: "fa-2x" %>
                            </div>
                            <div class="col-md-10">
                                Must have a love of learning. We'll be teaching you new moves and habits.
                            </div>
                        </div>
                    </div>
                    <div class="info-box">
                        <div class="row">
                            <div class="col-md-2">
                                <%= fa_icon "check", class: "fa-2x" %>
                            </div>
                            <div class="col-md-10">
                                Must be willing to leave your ego at the door. CrossFit is humbling.
                            </div>
                        </div>
                    </div>
                    <div class="info-box">
                        <div class="row">
                            <div class="col-md-2">
                                <%= fa_icon "check", class: "fa-2x" %>
                            </div>
                            <div class="col-md-10">
                                Must always keep a positive attitude and support other athletes. No negatives vibes.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8 col-lg-offset-2">
                    <p class="price"><span class="strikeout">$300</span> $249 to change your life</p>
                    <a href="#schedule-form-modal" data-toggle="modal" class="btn btn-lg btn-outline-dark apply-btn">Apply Now</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="testimonials" class="bg-dark">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>Real People. Real Results.</h2>
                <hr class="colored">
            </div>
        </div>
        <div class="row">
            <div class="card first" style="min-height:746px">
                <div class="testimonial-img">
                    <img src="https://cftaskforce.files.wordpress.com/2016/01/stacy-headshot.jpg" class="img-circle img-responsive" alt="">
                    <h4>Stacey Hogan</h4>
                </div>
                <p>
                    When I made the appointment to talk to Michael at Cigar City Crossfit he contacted me right away. I still was a little hesitant because I was so out of shape. When I arrived Michael and Ben were so welcoming and took the time to chat with me about what to expect. The first week was extremely challenging, I just remember coach Ben saying just walk through the door and show up and we will get you through it. So, I continued to just walk through the door and show up. I put in my best effort and I can see and feel changes every week.
                </p>

                <p>
                    The best is they make me feel like I belong there and always acknowledge me by my NAME when I get there for class. I love this place, for one hour I forget about everything going on in my crazy life and get a great workout. Not only do they focus on the technique of the movements but they have helped me make changes in my diet and go over nutrition. Plus they're pretty funny and are always making me laugh.
                </p>
            </div>
            <div class="card">
                <div class="testimonial-img">
                    <img src="https://cftaskforce.files.wordpress.com/2016/01/cristie-headshot.jpg" class="img-circle img-responsive" alt="">
                    <h4>Cristie Subacz</h4>
                </div>
                <p>
                    From the moment I walked into the facility, I was welcomed. You don't have that at a lot of gyms. From the first workout I was challenged, motivated, and encouraged. From the first failure, I was boosted up and reminded that it takes time. Failure is not something permanent, it's a chance to do better. Coach Benjamin and Coach Mike offer different styles of coaching so there's quite literally something for everyone. But all of the Cigar City CrossFit coaches are there 300% - focusing on each member and taking the time to listen to their goals.  Simply put, they care.
                </p>
                <p>
                    It's not about how fast or strong you are today, it's about making health and fitness a part of your lifestyle. So, if you show up, check your ego at the door and open your mind to try something new, you'll be amazed at the results. Completing the 6 Week Challenge and then becoming a member of Cigar City CrossFit has definitely been the best thing I've done since moving to Tampa.
                </p>
                <p>Drink from the volcano!</p>
            </div>
        </div>
        <div class="row content-row">
            <div class="card first">
                <div class="testimonial-img">
                    <img src="https://cftaskforce.files.wordpress.com/2016/01/noelle-headshot.jpg" class="img-circle img-responsive" alt="">
                    <h4>Noelle Critz</h4>
                </div>
                <p>
                    The 6 Week CrossFit Challenge is AMAZING! What started out as a 6 week challenge to restart my fitness routine, has quickly turned into a lifestyle for me. With the help and encouragement of great coaches, I not only completed the six weeks challenge, but I also became a Cigar City CrossFit member. I am forever grateful to the coaches of Cigar City CrossFit for their continuous dedication to helping me become the best athlete I can be.  And with them, I feel like I've joined a family, not just another gym!!!
                </p>
            </div>
            <div class="card" style="min-height:485px">
                <div class="testimonial-img">
                    <img src="https://cftaskforce.files.wordpress.com/2016/01/ashley-headshot-small.jpg" class="img-circle img-responsive" alt="">
                    <h4>Ashley Davis</h4>
                </div>
                <p>
                    The 6 week challenge gave me the push I needed to start my fitness routine. At first I was intimidated by Crossfit, however the coaches were so encouraging. Crossfit WILL make you look and feel better. My focus shifted from the weight on the scale to the weight on the bar; how much I can deadlift, clean and push-press.
                </p>
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2" style="margin-top:15px;">
            <p class="price" style="left:34%"><span class="strikeout">$300</span> $249 to change your life</p>
            <a href="#schedule-form-modal" data-toggle="modal" class="btn btn-lg btn-primary apply-btn">Apply Now</a>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>Sarah's Story</h2>
                <hr class="colored">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <img src="https://cftaskforce.files.wordpress.com/2016/01/sarah-1-mod.png">
                <h4>She continues...</h4>
                <img style="margin-left:30px" src="https://cftaskforce.files.wordpress.com/2016/01/sarah-2.png">
                <h4>Final thoughts...</h4>
                <img style="margin-left:30px" src="https://cftaskforce.files.wordpress.com/2016/01/sarah-3.png">
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2">
            <p class="price" style="left:34%"><span class="strikeout">$300</span> $249 to change your life</p>
            <a href="#schedule-form-modal" data-toggle="modal" class="btn btn-lg btn-outline-dark apply-btn">Apply Now</a>
        </div>
    </div>
</section>

<section class="bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <img src="https://cftaskforce.files.wordpress.com/2016/01/ben_and_mike.jpg">
            </div>
            <div class="col-lg-8">
                <h3 style="margin-top:0px">Michael and Ben - Owners, Cigar City CrossFit</h3>

                <p>
                    This challenge was created to introduce CrossFit to a broader population.  We have personally seen how CrossFit can dramatically change the lives of those who commit to the process.  This challenge was created to introduce CrossFit to those who would absolutely benefit from the training, but who may be too intimidated to come out and try it on their own.
                </p>

                <p>
                    We are trying to find the right women who will work hard, finish the full 6 weeks, and ultimately be an amazing representation of what is possible through CrossFit training.  If this sounds like something you would like to be a part of, fill out an application ASAP.  We always fill up quickly.  We look forward to meeting you in person very soon.
                </p>
            </div>
        </div>
    </div>
</section>

<div class="portfolio-modal modal fade" id="schedule-form-modal" tabindex="-1" role="dialog" style="background:#222222" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h2>Schedule Your Interview</h2>
                        <p>We require a 15 minute in person interview to determine if you'll be the right fit for this challenge. You'll get a chance to meet us, see the facility and discuss why you haven't been able to hit your fitness goals yet.</p>
                        <%= render partial: "schedule_once_form" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>