<!-- retired page -->
<% content_for :head_top do %>
    <title>Ben Bergeron Competitive Excellence Seminar</title>
    <meta name="description" content="Ben Bergeron's 90 minute Competitive Excellence Seminar teaches gym owners, coaches and athletes the systems used to produce 6 CrossFit Games athletes including Matt Fraser and Katrin Davíðsdóttir.">
<% end %>

<header style="background-image: url('https://cftaskforce.files.wordpress.com/2016/01/katrin-lifting.jpg');">
    <a href="/">
        <img src="<%=asset_path('logos/black-trans.png')%>" class="top-left-logo" alt="Cigar City CrossFit Logo">
    </a>
    
    <div class="intro-content seminar">
        <div class="brand-name">Ben Bergeron's</div>
        <hr class="colored">
        <div class="brand-name-intro">Competitive Excellence Seminar</div>
    </div>

    <div class="sub-text">
        <p class="lg">Learn the ideas, systems and programming design principles used to produce</p>
        <p class="sm">Six CrossFit Games Champions.</p>
        <div class="cta-btn">
            <%= link_to "Yes, I want a ticket", "https://goo.gl/lifgLn", class: "btn btn-primary", target: "_blank" %>
        </div>
    </div>
    
</header>

<section id="about">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>Who Will Benefit?</h2>
                <hr class="colored">
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-4">
                    <h3>Gym Owner</h3>
                    <div class="info-box">
                        <div class="row">
                            <div class="col-md-2">
                                <%= fa_icon "check", class: "fa-2x" %>
                            </div>
                            <div class="col-md-10">
                                Create scalable business systems that focus on helping athletes become their fittest self
                            </div>
                        </div>
                    </div>

                    <div class="info-box">
                        <div class="row">
                            <div class="col-md-2">
                                <%= fa_icon "check", class: "fa-2x" %>
                            </div>
                            <div class="col-md-10">
                                Establish your gym as the premiere CrossFit gym in town by building a brand that focuses on training expertise
                            </div>
                        </div>
                    </div>

                    <div class="info-box">
                        <div class="row">
                            <div class="col-md-2">
                                <%= fa_icon "check", class: "fa-2x" %>
                            </div>
                            <div class="col-md-10">
                                Learn how to build a community of over 400 athletes that still feels intimate and gets results 
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <h3>Coach</h3>
                    <div class="info-box">
                        <div class="row">
                            <div class="col-md-2">
                                <%= fa_icon "check", class: "fa-2x" %>
                            </div>
                            <div class="col-md-10">
                                Learn programming design principles that will help athletes break plateaus and hit new PRs 
                            </div>
                        </div>
                    </div>

                    <div class="info-box">
                        <div class="row">
                            <div class="col-md-2">
                                <%= fa_icon "check", class: "fa-2x" %>
                            </div>
                            <div class="col-md-10">
                                Learn how to create a competitive environment that encourages athletes to push themselves while staying positive and injury free
                            </div>
                        </div>
                    </div>

                    <div class="info-box">
                        <div class="row">
                            <div class="col-md-2">
                                <%= fa_icon "check", class: "fa-2x" %>
                            </div>
                            <div class="col-md-10">
                                 Learn how to assess an athlete's strengths and weaknesses and build programming tailored to their needs 
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <h3>Athlete</h3>
                    <div class="info-box">
                        <div class="row">
                            <div class="col-md-2">
                                <%= fa_icon "check", class: "fa-2x" %>
                            </div>
                            <div class="col-md-10">
                                Dial in your nutrition for serious gains. Learn what to eat pre, during and post workout for optimal performance
                            </div>
                        </div>
                    </div>

                    <div class="info-box">
                        <div class="row">
                            <div class="col-md-2">
                                <%= fa_icon "check", class: "fa-2x" %>
                            </div>
                            <div class="col-md-10">
                                Learn how to compete and play to your strengths. Learn how to dig deep and find that extra gear you never knew you had
                            </div>
                        </div>
                    </div>

                    <div class="info-box">
                        <div class="row">
                            <div class="col-md-2">
                                <%= fa_icon "check", class: "fa-2x" %>
                            </div>
                            <div class="col-md-10">
                                Find out what it takes to compete on the world's biggest stage. Learn how Games athletes train to win
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-lg-offset-2">
                <p class="price-text"><span class="strikeout">$250</span> $100 to learn from the best</p>
                <a href="https://goo.gl/lifgLn"  target="_blank" class="btn btn-lg btn-outline-dark apply-btn">Get Your Ticket</a>
            </div>
        </div>
    </div>
</section>

<aside class="cta-quote" id="charity" style="background-image: url('https://cftaskforce.files.wordpress.com/2016/01/11th-warrior-dark.jpg?w=1000');">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h1>100% of Net Proceeds donated to charity</h1>
                <hr class="colored">
                <div class="row">
                    <div class="col-md-6">
                        <img src="http://www.airheadsup.com/assets/images/Blog%20Images/logo.gif">
                    </div>
                    <div class="col-md-6">
                        <img src="http://www.suburbansolutions.com/wp-content/uploads/2013/12/Screen-Shot-2013-12-08-at-1.18.18-PM_02.jpg">
                    </div>
                </div>
                <p style="margin-top:20px">Companions for Heroes is a Virginia 501c3 that pairs rescue dogs with first responders struggling with the effects of Post-Traumatic Stress, Depression and Anxiety. The Yellow Ribbon Fund is a 501c3 based out of Bethesda, MD providing a multitude of services to wounded service members and their families. Together, they will show how fitness and animal companionship can save lives.</p>
            </div>
        </div>
    </div>
</aside>

<aside class="cta-quote" style="background-image: url('http://blog.wellnessfx.com/wp-content/uploads/2011/10/We-are-what-we-repeatedly-do..png');">
</aside>


<section class="bg-gray">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>A Habit of Excellence</h2>
                <hr class="colored">
                <p>Ben has coached six CrossFit Games champions as well as many other top ten CrossFit Games athletes</p>
            </div>
        </div>

        <div class="row content-row text-center">
            <div class="col-lg-12">
                <div class="col-lg-4">
                    <img style="margin:auto;" src="https://profilepicsbucket.crossfit.com/ee582-P55121_22-184.jpg" class="img-circle img-responsive">
                    <h3>Katrin Davidsdottir</h3>
                    <p>Women's CrossFit Games Champion 2015 & 2016</p>
                </div>

                <div class="col-lg-4">
                    <img style="margin:auto;" src="https://profilepicsbucket.crossfit.com/0bb38-P153604_3-184.jpg" class="img-circle img-responsive">
                    <h3>Mat Fraser</h3>
                    <p>Men's CrossFit Games Champion 2016</p>
                </div>

                <div class="col-lg-4">
                    <img style="margin:auto;" src="https://profilepicsbucket.crossfit.com/ce316-P153625_5-184.jpg" class="img-circle img-responsive">
                    <h3>Cole Sager</h3>
                    <p>5th Place Finish Men's CrossFit Games 2016</p>
                </div>
            </div>
        </div>

        <div class="row content-row text-center">
            <div class="col-lg-12">
                <div class="col-lg-4">
                    <img style="margin:auto;" src="http://profilepicsbucket.crossfit.com/23192-P3407_13-184.jpg" class="img-circle img-responsive">
                    <h3>Michele Letendre</h3>
                    <p>16th Place Finish Women's CrossFit Games 2016</p>
                </div>

                <div class="col-lg-4">
                    <img style="margin:auto;" src="http://profilepicsbucket.crossfit.com/16c0e-P168305_8-184.jpg" class="img-circle img-responsive">
                    <h3>Brook Wells</h3>
                    <p>6th Place Finish Women's CrossFit Games 2016</p>
                </div>

                <div class="col-lg-4">
                    <img style="margin:auto;" src="https://profilepicsbucket.crossfit.com/e45fe-P11881_2-184.jpg" class="img-circle img-responsive">
                    <h3>Heather Bergeron</h3>
                    <p>2x Women's CrossFit Games Athlete</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-dark" id="seminar-details">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>Seminar Details</h2>
                <hr class="colored">
            </div>
        </div>

        <div class="row content-row">
            <div class="col-lg-6">
                <h4>Hosted By</h4>
                <p>Cigar City CrossFit</p>

                <h4>When</h4>
                <p>Wednesday November 9th from 7pm-8:30pm</p>

                <h4>Where</h4>
                <p>1703 N 24th St, Tampa, FL 33605</p>

                <h4>Details</h4>
                <p>Ticket includes 90 minute seminar taught by Ben with special guests Heather Bergeron and Katrin Davidsdottir. Food provided by Fit Life Foods.</p>


                <%= link_to "Get Your Ticket", "https://goo.gl/lifgLn", class: "btn btn-primary", target: "_blank" %>
            </div>
            <div class="col-lg-6">
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe src="https://www.google.com/maps/embed/v1/search?q=Cigar%20City%20CrossFit%2C%20North%2024th%20Street%2C%20Tampa%2C%20FL%2C%20United%20States&key=AIzaSyBZ3d4s459qPnnMHYtCuSJ2ae_Gz5OhKNw" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
