<header style="background-image: url('http://d2qpxgpk8ujneg.cloudfront.net/wp-content/uploads/2013/05/SFITV-High-Five.jpg');">
    <div class="intro-content">
        <div class="brand-name">Let's Connect</div>
        <hr class="colored">
    </div>
</header>

<section class="bg-dark" style="padding:50px 0">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
            		<div class="row">
            			<h3>Gym Hours</h3>
            			<div class="col-md-4">
            				Monday-Friday: 6:30am-8:30pm
            			</div>
            			<div class="col-md-4">
            				Saturday: 9am-12pm
            			</div>
            			<div class="col-md-4">
            				Sunday: Closed
            			</div>
            		</div>
            		
            		<div class="row" style="margin-top:25px">
            			<h3>Contact Info</h3>
            			<div class="col-md-4">
            				<%= fa_icon "phone"%> 443-797-3663
            			</div>
            			<div class="col-md-4">
            				<%= fa_icon "envelope"%> info@cftaskforce.com
            			</div>
            			<div class="col-md-4">
            				<a href="#" target="_blank" class="inverse"><%= fa_icon "facebook", class: "fa-2x"%></a>
            				<a href="#" target="_blank" class="inverse"><%= fa_icon "twitter", class: "fa-2x"%></a>
            				<a href="https://www.instagram.com/cftaskforce/" class="inverse" target="_blank"><%= fa_icon "instagram", class: "fa-2x"%></a>
            			</div>
            		</div>
            </div>
        </div>
    </div>
</section>

<section>
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<img src="https://maps.googleapis.com/maps/api/staticmap?zoom=14&size=600x600&maptype=roadmap&markers=color:red%7Clabel:S%7C27.959747,-82.432895&key=AIzaSyB-u-Oc_HS1b7_N7JWrSgnXDjwHFxVByx4" style="height:auto;max-width:100%">
			</div>
			<div class="col-md-6 col-md-offset-1">
				<div style="text-align:center">
					<p>You got questions? We got answers!</p>
					<p> Fill out the form below and we'll get back to you within <strong>24</strong> hours.</p>
				</div>
				<%= render partial: "contact_us_form" %>
			</div>
		</div>
	</div>
</section>


