<% content_for :head_top do %>
    <title>Contact Us</title>
    <meta name="description" content="Located at 1703 N 24th St Tampa, Florida 33605. Our hours of operation are Mon-Fri: 6:30am-8:30pm, Sat: 9am-12pm, Sun: Closed. Our phone number is 813-559-0129. Send us a note using the contact form.">
<% end %>

<header style="background-image: url('https://cftaskforce.files.wordpress.com/2016/01/3890281501_2a9844516d_o.jpg');">
    <div class="intro-content">
        <div class="brand-name">Let's Connect</div>
        <hr class="colored">
    </div>
</header>

<section class="bg-dark" style="padding:50px 0">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
            		<div class="row">
            			<h3>Gym Hours</h3>
            			<div class="col-md-4">
            				Monday-Friday: 6:30am-8:30pm
            			</div>
            			<div class="col-md-4">
            				Saturday: 10am-12pm
            			</div>
            			<div class="col-md-4">
            				Sunday: Closed
            			</div>
            		</div>
            		
            		<div class="row" style="margin-top:25px">
            			<h3>Contact Info</h3>
            			<div class="col-md-4">
            				<%= fa_icon "phone"%> 813-559-0129
            			</div>
            			<div class="col-md-4">
            				<%= fa_icon "envelope"%> info@cigarcitycrossfit.com
            			</div>
            			<div class="col-md-4">
            				<a href="https://www.facebook.com/cigarcitycrossfit/" target="_blank" class="inverse"><%= fa_icon "facebook", class: "fa-2x"%></a>
            				<a href="https://twitter.com/CigarCityCF" target="_blank" class="inverse"><%= fa_icon "twitter", class: "fa-2x"%></a>
            				<a href="https://www.instagram.com/cigarcitycrossfit/" class="inverse" target="_blank"><%= fa_icon "instagram", class: "fa-2x"%></a>
            			</div>
            		</div>
            </div>
        </div>
    </div>
</section>

<section>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe src="https://www.google.com/maps/embed/v1/search?q=Cigar%20City%20CrossFit%2C%20North%2024th%20Street%2C%20Tampa%2C%20FL%2C%20United%20States&key=AIzaSyBZ3d4s459qPnnMHYtCuSJ2ae_Gz5OhKNw" allowfullscreen></iframe>
                </div>
			</div>
		</div>
	</div>
</section>

