<% content_for :head_top do %>
    <title>Two Week CrossFit Academy</title>
    <meta name="description" content="New to CrossFit? Don't know where to get started? Our two week CrossFit Academy will teach the what, why and how of CrossFit so you're ready to roll in group classes.">
<% end %>


<header style="background-image: url('https://cftaskforce.files.wordpress.com/2016/01/wall-back2.jpg');">
    <a href="/">
        <img src="<%=asset_path('logos/black-trans.png')%>" class="top-left-logo" alt="Cigar City CrossFit Logo">
    </a>
    <div class="header-wrapper-ca">
    <div class="header-ca">
        <h1>Two Week CrossFit Academy</h1>
        <h4>November 28th - December 9th</h4>
        <p>Learn the What, Why and How of CrossFit</p>
    </div>
    
    <div class="intro-content">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/mlVrkiCoKkg"></iframe>
            <!-- New You Challenge official video -->
            <!-- <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/MEbwZudTz2M"></iframe> -->
        </div>
        <h3>Who are we looking for?</h3>
        <p>You don't have to be in great shape. It's built for beginners.</p>
    </div>
    </div>
</header>

<div class="academy">
<section id="about">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>Are You the Right Fit?</h2>
                <hr class="colored">
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="col-lg-6">
                    <div class="info-box">
                        <div class="row">
                            <div class="col-md-2">
                                <%= fa_icon "check", class: "fa-2x" %>
                            </div>
                            <div class="col-md-10">
                                Must be willing to commit to coming into the gym for all six sessions.
                            </div>
                        </div>
                    </div>
                    <div class="info-box">
                        <div class="row">
                            <div class="col-md-2">
                                <%= fa_icon "check", class: "fa-2x" %>
                            </div>
                            <div class="col-md-10">
                                Must be ready to push themselves and commit to the process.
                            </div>
                        </div>
                    </div>
                    <div class="info-box">
                        <div class="row">
                            <div class="col-md-2">
                                <%= fa_icon "check", class: "fa-2x" %>
                            </div>
                            <div class="col-md-10">
                                Must enjoy working in a group environment. The energy at a CrossFit gym is infectious.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="info-box">
                        <div class="row">
                            <div class="col-md-2">
                                <%= fa_icon "check", class: "fa-2x" %>
                            </div>
                            <div class="col-md-10">
                                Must have a love of learning. We'll be teaching you new moves and habits.
                            </div>
                        </div>
                    </div>
                    <div class="info-box">
                        <div class="row">
                            <div class="col-md-2">
                                <%= fa_icon "check", class: "fa-2x" %>
                            </div>
                            <div class="col-md-10">
                                Must be willing to leave your ego at the door. CrossFit is humbling.
                            </div>
                        </div>
                    </div>
                    <div class="info-box">
                        <div class="row">
                            <div class="col-md-2">
                                <%= fa_icon "check", class: "fa-2x" %>
                            </div>
                            <div class="col-md-10">
                                Must always keep a positive attitude and support other athletes. No negatives vibes.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8 col-lg-offset-2">
                    <p class="price"><span class="strikeout">$250</span> $120 to supercharge your fitness</p>
                    <a href="#academy-form-modal" data-toggle="modal" class="btn btn-lg btn-outline-dark apply-btn">Join Now</a>
                </div>
            </div>
        </div>
    </div>
</section>

<aside class="cta-quote" style="background-image: url('https://cftaskforce.files.wordpress.com/2016/01/crossfit-academy-bg-women.jpg');">
    <h2>The secret to getting ahead</h2>
    <h2>is getting started</h2>
</aside>

<section id="learn">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>What You'll Learn</h2>
                <hr class="colored">
                <img src="<%= asset_path('teacher.svg') %>" style="height:50px" alt="whiteboard icon">
                <img src="<%= asset_path('carrot.svg') %>" style="height:50px" alt="carrot icon">
                <img src="<%= asset_path('stretching.svg') %>" style="height:75px" alt="stretching icon">
                <img src="<%= asset_path('kb.svg') %>" style="height:50px" alt="kettlebell icon">
            </div>
        </div>
        <div class="row content-row">
            <div class="col-lg-3 box">
                <h3>CrossFit Basics</h3>
                <p>You'll learn the 9 foundational movements that CrossFit focuses on like the squat, the deadlift, the clean, the snatch and more. The lingo like AMRAP, EMOM, WOD and more. You'll also learn the exercise science behind CrossFit and why it's so effective.</p>
            </div>
            <div class="col-lg-3 box">
                <h3>Nutrition</h3>
                <p>Spoiler Alert! The foundation of CrossFit is nutrition. Without it you'll never reach your true athletic potential. We take the time to explain our nutrition philosophy which eliminates the guess work and gets you the results you want.</p>
            </div>
            <div class="col-lg-3 box">
                <h3>Recovery</h3>
                <p>Everybody forgets that you get weaker inside the gym and stronger outside of it. Recovery is super important as it allows to get back into the gym faster and with more gusto. We focus heavily on mobility and myofascial release tools to keep you strong, feeling good and achieve full range of motion.</p>
            </div>
            <div class="col-lg-3 box">
                <h3>CrossFit Workouts</h3>
                <p>The Academy isn't all instruction by any stretch of the imagination. Each class you'll be putting what you learned into action as you complete a CrossFit benchmark workout. This is a great measuring tool to see where your current fitness level sits.</p>
            </div>
        </div>
    </div>
</section>

<div class="crossfit-academy">
    <section id="testimonials" class="bg-dark">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12">
                    <h2>Real People. Real Results.</h2>
                    <hr class="colored">
                </div>
            </div>
            <div class="row">
                <div class="card first">
                    <div class="testimonial-img">
                        <img src="https://cftaskforce.files.wordpress.com/2016/01/stacy-headshot.jpg" class="img-circle img-responsive" alt="">
                        <h4>Stacey Hogan</h4>
                    </div>
                    <p>
                        When I made the appointment to talk to Michael at Cigar City CrossFit he contacted me right away. I was still a bit hesitant because I was so out of shape, but when I arrived Michael and Ben were so welcoming. They told me they could scale the workouts to make it work for me. They were absolutely right. I went in nervous about CrossFit, but the Academy taught me everything I needed to know to be successful in group classes!
                    </p>
                    <p>I've been a member since July '16 and loving every minute. I often look back on the Academy and what a great experience it was.</p>
                </div>
                <div class="card one">
                    <div class="testimonial-img">
                        <img src="https://cftaskforce.files.wordpress.com/2016/01/justin-headshot.png" class="img-circle img-responsive" alt="">
                        <h4>Justin King</h4>
                    </div>
                    <p>
                        The CrossFit Academy was a fantastic experience for me.  I wanted to try CrossFit but I was too nervous to just jump in. I had heard CrossFit could be dangerous so I wanted to make sure I learned the right way.  Coach Bunny, yes that's what he goes by, made sure everyone felt comfortable with each movement before moving on to the next skill.
                    </p>
                    <p>
                        I've been a member now at Cigar City for over five months and I've seen great results. I chalk up my continued success because of the great foundation the Academy gave me.
                    </p>
                </div>
            </div>
            <div class="row content-row">
                <div class="card first">
                    <div class="testimonial-img">
                        <img src="https://cftaskforce.files.wordpress.com/2016/01/noelle-headshot.jpg" class="img-circle img-responsive" alt="">
                        <h4>Noelle Critz</h4>
                    </div>
                    <p>
                        The two week CrossFit Academy is AMAZING! What started out as a two week challenge to restart my fitness routine, has quickly turned into a lifestyle for me. With the help and encouragement of great coaches, I not only completed the two week challenge, but I also became a Cigar City CrossFit member. I am forever grateful to the coaches of Cigar City CrossFit for their continuous dedication to helping me become the best athlete I can be.  And with them, I feel like I've joined a family, not just another gym!!!
                    </p>
                </div>
                <div class="card two">
                    <div class="testimonial-img">
                        <img src="https://cftaskforce.files.wordpress.com/2016/01/alex-headshot.png" class="img-circle img-responsive" alt="">
                        <h4>Alex Hollings</h4>
                    </div>
                    <p>
                        I'd been working out at another CrossFit gym for over a year, but decided to make the switch to Cigar City. Even though I'd done CrossFit previously they encouraged me to attend the Academy.  While I knew much of the technique for the lifts, I didn't know the background of CrossFit. Nor did I know why CrossFit focused on intensity over volume or the best way to eat to fuel my athletic success. The Academy set me up for success. I'm now stronger and faster than I've ever been. Definitely recommend!
                    </p>
                </div>
            </div>
            <div class="col-lg-8 col-lg-offset-2" style="margin-top:15px;">
                <p class="price pull-left"><span class="strikeout">$250</span> $120 to change your life</p>
                <a href="#academy-form-modal" data-toggle="modal" class="btn btn-lg btn-primary apply-btn">Join Now</a>
            </div>
        </div>
    </section>

    <section id="academy-details">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12">
                    <h2>CrossFit Academy Details</h2>
                    <hr class="colored">
                </div>
            </div>
            <div class="col-lg-6 content-row">
                <h4>Location</h4>
                <p>Cigar City CrossFit</br>
                1703 N 24th St, Tampa, FL 33605
                </p>
                
                <h4>When</h4>
                <p>November 28th - December 9th</br>
                Monday - Wednesday - Friday</br>
                6:30pm - 8:00pm
                </p>

                <h4>Cost</h4>
                <p>$120 - However, if join as a member afterwards, the cost of the Academy is put towards your first month's membership.</p>
            </div>
            <div class="col-lg-6">
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe src="https://www.google.com/maps/embed/v1/search?q=Cigar%20City%20CrossFit%2C%20North%2024th%20Street%2C%20Tampa%2C%20FL%2C%20United%20States&key=AIzaSyBZ3d4s459qPnnMHYtCuSJ2ae_Gz5OhKNw" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <img src="https://cftaskforce.files.wordpress.com/2016/01/ben_and_mike.jpg">
                </div>
                <div class="col-lg-8">
                    <h3 style="margin-top:0px">Michael and Ben - Owners, Cigar City CrossFit</h3>

                    <p>
                        The CrossFit Academy was created to introduce CrossFit to a broader population.  We have personally seen how CrossFit can dramatically change the lives of those who commit to the process.  The Academy was created to introduce CrossFit to those who would absolutely benefit from the training, but who may be too intimidated to come out and try it on their own or don't know necessarily where to get started.
                    </p>

                    <p>
                        We are trying to find the right people who will work hard, finish the full two weeks, and ultimately be an amazing representation of what is possible through CrossFit training.  If this sounds like something you would like to be a part of, fill out an application ASAP.  We always fill up quickly.  We look forward to meeting you in person very soon.
                    </p>
                </div>
            </div>
        </div>
    </section>
    </div>
</div>

<div class="portfolio-modal modal fade" id="academy-form-modal" tabindex="-1" role="dialog" style="background:#f5f5f5" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h2 style="color:black">Let's Get You Started</h2>
                        <%= render partial: "pages/hatchbuck_forms/crossfit_academy_form" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>