<% content_for :head_top do %>
    <title>Get Started</title>
    <meta name="description" content="Making you the best version of yourself is our business. Let's get you started.">
<% end %>


<header style="background-image: url('https://cftaskforce.files.wordpress.com/2016/01/rope-climb.jpg');">
    <div class="intro-content gs">
       	<h2>We are professional fitness coaches</h2>
       	<p>
       		Every client at Cigar City CrossFit has a unique prescription for exercise and nutrition. The prescription is 100% derived on each athlete’s goals and budget.
				</p>
       	<a href="<%=book_your_consult_path%>" class="btn btn-lg btn-primary apply-btn">
       	Your Plan Begins with a consult
       	<i class="fa fa-arrow-right"></i>
       	</a>
    </div>
</header>


<section>
	<div class="container">
	    <div class="row text-center">
	        <div class="col-lg-12">
	        	<h2>Your Path Forward</h2>
	          <hr class="colored">
            <p>
            	You're unique and so should your training plan. We offer the following coaching services to help you achieve your goals.
            </p>
	        </div>
	        <div class="row content-row text-center">
	    	    <%= link_to :personal_training_services, class: "services" do %>
		    	    <div class="col-lg-3 offering">
		    	        <img src="https://i2.wp.com/cftaskforce.files.wordpress.com/2016/01/personal-training-min.jpg">

		    	    <h3>Personal Training</h3>
		    	    <p>Individualized training led with the undivided attention of a coach</p>
		    	    </div>
	    	    <% end %>
	        	
	        	<%= link_to :individual_design_services, class: "services" do %>
		        	<div class="col-lg-3 offering">    
		        		<img src="https://i2.wp.com/cftaskforce.files.wordpress.com/2016/01/individual-design-min.jpg">
		        	    
		        	    
		        	 	<h3>Individual Design</h3>
		        	  <p>Individualized training plan that can be completed on your own time</p>
		        	</div>
	        	<% end %>

	        	<%= link_to :group_training_services, class: "services" do %>
	        		<div class="col-lg-3 offering">  
	        	  	<img src="https://i1.wp.com/cftaskforce.files.wordpress.com/2016/01/group-class-min_opimized.jpg">
	        	    
	        	    <h3>Group Training</h3>
	        	   	<p>Small group classes led by a coach following the CrossFit methodology</p>
	        		</div>
	        	<% end %>

	        	<%= link_to :nutrition_planning_services, class: "services" do %>
	        		<div class="col-lg-3 offering">
	        	    <img src="https://i0.wp.com/cftaskforce.files.wordpress.com/2016/01/meal-plan-min.jpg">
	        	    
	        	    <h3>Nutrition Planning</h3>
	        	    <p>Custom meal, grocery list and macronutrient planning </p>
	        		</div>
	        	<% end %>

	        </div>
	    </div>
	 </div>
</section>
