<% content_for :head_top do %>
    <title>Book A Free Trial</title>
    <meta name="description" content="Book a free 30 minute assessment where we discuss your goals, tour the facility, meet fellow members and answer any questions you may have.">
<% end %>

<header style="background-image: url('https://cftaskforce.files.wordpress.com/2016/01/rope-climb.jpg');">
    <div class="intro-content">
       	<div class="brand-name">your best self</div>
        <hr class="colored">
        <div class="brand-name-intro">begins now<div>
    </div>
</header>

<section>
	<div class="container-fluid">
	    <div class="row text-center">
	        <div class="col-lg-8 col-lg-offset-2">
	            <h2>book your free trial</h2>
	            <hr class="colored">
	            <div class="icons" style="padding:35px 0">
	            	<div class="row">
	            	    <div class="col-md-3">
	            	        <%=fa_icon "trophy", class: "fa-2x"%>
	            	        <h4>Discuss your goals</h4>
	            	    </div>
	            	    <div class="col-md-3">
	            	        <%=fa_icon "building", class: "fa-2x"%>
	            	        <h4>Tour the facility</h4>
	            	    </div>
	            	    <div class="col-md-3">
	            	        <%=fa_icon "users", class: "fa-2x"%>
	            	        <h4>Meet our coaches</h4>
	            	    </div>
	            	    <div class="col-md-3">
	            	        <%=fa_icon "heartbeat", class: "fa-2x"%>
	            	        <h4>Break a sweat</h4>
	            	    </div>
	            	</div>
	            </div>
	        </div>
	    </div>
	    <div class="row content-row">
	    	<div class="col-lg-6 col-lg-offset-3">
	    		<%= render partial: "shared/wodify_lead_form" %>
	    	</div>
	    </div>
	 </div>
</section>