<% content_for :head_top do %>
    <title>Cigar City CrossFit | Tampa | Brandon | Seminole Heights</title>
    <meta name="description" content="Voted best CrossFit gym in Tampa, Brandon and Seminole Heights area. Get fit today!">
<% end %>

<header>
    <div class="video-background">
        <div class="video-foreground">
            <!-- inject embed code via js   -->
        </div>
    </div>

    <div class="intro-content home">
        <%= link_to "Request Your Free Consult", :book_your_consult, class: "btn cta-btn btn-primary" %>
    </div>
</header>

<section id="services" style="background:white">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>What We Offer</h2>
                <hr class="colored">
                <p>
                    You're unique and so should your training plan. We offer the following coaching services to help you achieve your goals.
                </p>
            </div>
        </div>
        <div class="row content-row text-center">    
            <%= link_to :personal_training_services, class: "services" do %>
                <div class="col-lg-3 offering">
                    <img src="https://i2.wp.com/cftaskforce.files.wordpress.com/2016/01/personal-training-min.jpg">

                <h3>Personal Training</h3>
                <p>Individualized training led with the undivided attention of a coach</p>
                </div>
            <% end %>
            
            <%= link_to :individual_design_services, class: "services" do %>
                <div class="col-lg-3 offering">    
                    <img src="https://i2.wp.com/cftaskforce.files.wordpress.com/2016/01/individual-design-min.jpg">
                    
                    
                    <h3>Individual Design</h3>
                  <p>Individualized training plan that can be completed on your own time</p>
                </div>
            <% end %>

            <%= link_to :group_training_services, class: "services" do %>
                <div class="col-lg-3 offering">  
                <img src="https://i1.wp.com/cftaskforce.files.wordpress.com/2016/01/group-class-min_opimized.jpg">
                
                <h3>Group Training</h3>
                <p>Small group classes led by a coach following the CrossFit methodology</p>
                </div>
            <% end %>

            <%= link_to :nutrition_planning_services, class: "services" do %>
                <div class="col-lg-3 offering">
                <img src="https://i0.wp.com/cftaskforce.files.wordpress.com/2016/01/meal-plan-min.jpg">
                
                <h3>Nutrition Planning</h3>
                <p>Custom meal, grocery list and macronutrient planning </p>
                </div>
            <% end %>
        </div>
        </div>
    </div>
</section>

<section class="bg-gray" id="team">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12">
                <h2>Our Team</h2>
                <p>We're a bit biased, but we think we've got the best coaches around.  Watch their videos to learn more!</p>
                <hr class="colored">
            </div>
        </div>
        <div class="row content-row">
            <div class="col-md-6">
                <div class="youtube" data-embed="qL8PZZ8pwyA"> 
                    <div class="play-button"></div> 
                </div>
                <h3>Coach Bunny</h3>
            </div>
            <div class="col-md-6">
                <div class="youtube" data-embed="aqD-J_KRkNw"> 
                    <div class="play-button"></div> 
                </div>
                <h3>Coach Mike</h3>
            </div>
        </div>
        <div class="row content-row">
            <div class="col-md-6">
                <div class="youtube" data-embed="WzqJcQhF800"> 
                    <div class="play-button"></div> 
                </div>
                <h3>Coach Melissa</h3>
            </div>
            <div class="col-md-6">
                <div class="youtube" data-embed="XK1dRaEZaAk"> 
                    <div class="play-button"></div> 
                </div>
                <h3>Coach Kristen</h3>
            </div>
        </div>
    </div>
</section>
<aside class="cta-quote" style="background-image: url('https://i0.wp.com/cftaskforce.files.wordpress.com/2016/01/black-brick-background-min.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <span class="quote">Every pro was once an <span class="text-primary">amateur</span>. Every <span class="text-primary">expert</span> was once a <span class="text-primary">beginner</span>. So dream big and <span class="text-primary">start now</span>.</span>

                <hr class=" colored">
                <%= link_to "Book Your Free Consult", :book_your_consult, class: "btn btn-outline-light"%>
            </div>
        </div>
    </div>
</aside>

<section id="join" class="bg-white">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>Success Stories</h2>
                <hr class=" colored">
            </div>
        </div>
        <div class="row content-row text-center">
            <div class="col-md-6">
                <div class="youtube" data-embed="xGD9Go2bOck"> 
                    <div class="play-button"></div> 
                </div>
                <h3>Carly & Sam</h3>
            </div>
            <div class="col-md-6">
                <div class="youtube" data-embed="4r7ZKE3vk5s"> 
                    <div class="play-button"></div> 
                </div>
                <h3>Brock & Alex</h3>
            </div>
        </div>
        <div class="row content-row" style="margin-top:100px">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="https://i0.wp.com/cftaskforce.files.wordpress.com/2016/01/alex-lifting-md-min.jpg">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Alex H.</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Cigar City CrossFit is my favorite place to be.  I've worked out at a few other CrossFit gyms before and I can say hands down this has been my best experience.  From the facility, the coaches, programming and other members, I've really found my home away from home.*</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="https://i1.wp.com/cftaskforce.files.wordpress.com/2016/01/karen-headshot-min.jpg" alt="CrossFit Academy Instruction">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Karen A.</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">I'm a bit older than the average CrossFitter, so I was nervous about starting.  But, all the coaches are so welcoming and the energy at the gym is infectious.  I love my workout buddies and can't imagine training anywhere else.*</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="https://i2.wp.com/cftaskforce.files.wordpress.com/2016/01/danny-running-cropped-min.png" alt="Coaching a class">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Danny S.</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    I started here about a year ago so I think enough time has passed where I can confidently say Cigar City CrossFit is objectively the best workout experience I've ever had.*
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="https://i2.wp.com/cftaskforce.files.wordpress.com/2016/01/courtney-headshot_optimized.jpg" alt="Group CrossFit Class">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Courtney B.</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Dang, I used to think working out consistently was hard.  I guess it is if you're stuck doing bicep curls at LA Fitness, but working out with all my new friends at Cigar City makes staying in shape the best part of my day. I love my new muscles. It's changed my focus from weight on the scale to weight on the bar!*</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <a href="<%=get_started_path%>">
                            <div class="timeline-image">
                                <h4>Let's<br>Get<br>Started!</h4>
                            </div>    
                        </a>
                    </li>
                </ul>
                <p style="text-align:center;margin-top:75px;"><i>*Disclaimer: Results may vary from client to client</i></p>
            </div>
        </div>
    </div>
</section>

<section id="social" class="bg-dark">
    <div class="container text-center">
        <h2>The Internet Loves Us</h2>
        <hr class="colored">
        <div class="row content-row">
            <div class="col-md-4">
                <h3>Google</h3>
                <img src="https://cftaskforce.files.wordpress.com/2016/01/5-star.jpg" alt="5 star review">
                <!-- <p>(36 reviews)</p> -->
            </div>
            <div class="col-md-4">
                <h3>Facebook</h3>
                <img src="https://cftaskforce.files.wordpress.com/2016/01/5-star.jpg" alt="5 star review">
                <!-- <p>(128 reviews)</p> -->
            </div>
            <div class="col-md-4">
                <h3>Yelp</h3>
                <img src="https://cftaskforce.files.wordpress.com/2016/01/5-star.jpg" alt="5 star review">
                <!-- <p>(56 reviews)</p> -->
            </div>
        </div>
    </div>
</section>
<section id="insta" class="bg-white">
    <div class="container text-center">
        <h2>Insta Love</h2>
        <hr class="colored">
        <p>We love to showcase what our athletes are up.</p>
        <!-- instafeed here -->
        <div class="row">
            <div class="col-lg-12">
                <div id="instafeed">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="drop-ins" class="bg-gray">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>We Love Drop Ins</h2>
                <hr class="colored">
            </div>
        </div>
        <div class="row content-row text-center">
            <div class="col-md-8 col-md-offset-2">
                <p>
                    Whether you're traveling for work, on vacation, or live locally and just want to try out the gym, we'd love for you to drop in and sweat with us!
                </p>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="about-content">
                    <h3>One</h3>
                    <p>Check out our <%= link_to "schedule", schedule_path %> to find a class that works for you.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="about-content">
                    <h3>Two</h3>
                    <p>Arrive 15 minutes early to sign a waiver and say hello to the coaches!</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="about-content">
                    <h3>Three</h3>
                    <p>Smile. Work Hard. Make a Sweat Angel.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="about-content">
                    <h3>Four</h3>
                    <p>Pay ($20, card or cash), think about buying one of our rad shirts and promise to come back again soon!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Thank you modal that shows after submitting Wodify lead form -->
<%= render partial: "thank_you_modal" %>


