<% content_for :head_top do %>
    <title>Cigar City CrossFit | Tampa | Brandon | Seminole Heights</title>
    <meta name="description" content="Voted best CrossFit gym in Tampa, Brandon and Seminole Heights area. Get fit today!">
<% end %>

<header style="background-image: url('https://cftaskforce.files.wordpress.com/2016/01/squat-dark.jpg');">
    <div class="intro-content">
        <img src="<%=asset_path('logos/black-trans.png')%>" class="img img-responsive img-centered" alt="Cigar City CrossFit Logo">
        <div class="intro-text">
            <hr class="colored">
            <div class="brand-name-subtext">Get Results | Make Friends | Have Fun</div>
            <div class="action-btns">
                <%= link_to "Request Your Free Intro Session", get_started_path, class: "btn btn-primary" %>
            </div>
        </div>
    </div>
</header>

<section id="services">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>What We Offer</h2>
                <hr class="colored">
            </div>
        </div>
        <div class="row content-row text-center">    
            <div class="col-lg-3">
                <%= link_to :personal_training_services do %>
                    <img src="https://cftaskforce.files.wordpress.com/2016/01/personal-training.jpg">
                <% end %>
            
                <h3>Personal Training</h3>
                <p>Individualized training led with the undivided attention of a coach</p>
            </div>
            <div class="col-lg-3">
                <a href="http://www.sfh.com/">
                    <img src="https://cftaskforce.files.wordpress.com/2016/01/individual-design.jpg">
                </a>
                <h3>Individual Design</h3>
                <p>Individualized training plan that can be completed on your own time</p>
            </div>
            <div class="col-lg-3">
                <a href="http://www.sfh.com/">
                    <img src="https://cftaskforce.files.wordpress.com/2016/01/group-class1.png">
                </a>
                <h3>Group Training</h3>
                <p>Small group classes led by a coach following the CrossFit methodology</p>
            </div>
            <div class="col-lg-3">
                <a href="http://www.sfh.com/">
                    <img src="https://cftaskforce.files.wordpress.com/2016/01/meal-plan.jpg">
                </a>
                <h3>Nutrition Planning</h3>
                <p>Custom meal, grocery list and macronutrient planning </p>
            </div>
        </div>
    </div>
</section>



<section class="bg-gray hidden" id="about-video">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>What We're About</h2>
                <hr class="colored">
            </div>
        </div>
        <div class="row content-row">
            <div class="col-md-8 col-md-offset-2">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe width="600" height="400" src="https://www.youtube.com/embed/_b8jc0tUiLA" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-gray" id="team">
    <div class="container text-center wow fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <h2>Our Team</h2>
                <p>Over 20+ years of CrossFit and strength and conditioning experience. Join our community and get RESULTS.</p>
                <hr class="colored">
            </div>
        </div>
        <div class="row content-row">
            <div class="col-lg-12">
                <div class="about-carousel">
                    <% @coaches.each do |coach| %>
                        <div href="#profileModal-<%=coach.id%>" data-toggle="modal">
                            <div class="item">
                                <img src="<%= coach.images[0].url %>" class="img-responsive" alt="<%=coach.name%> Profile Picture">
                                <div class="caption">
                                    <h3><%= coach.name %></h3>
                                    <hr class="colored">
                                    <p><%= coach.title %></p>
                                </div>
                            </div>
                        </div>    
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</section>
<aside class="cta-quote" style="background-image: url('https://cftaskforce.files.wordpress.com/2016/01/black-brick-background.jpg');">
    <div class="container wow fadeIn">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <span class="quote">Every pro was once an <span class="text-primary">amateur</span>. Every <span class="text-primary">expert</span> was once a <span class="text-primary">beginner</span>. So dream big and <span class="text-primary">start now</span>.</span>

                <hr class=" colored">
                <%= link_to "Sign up for a free class", get_started_path, class: "btn btn-outline-light"%>
            </div>
        </div>
    </div>
</aside>

<section id="join">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12 wow fadeIn">
                <h2>Become a Member Today</h2>
                <hr class=" colored">
            </div>
        </div>
        <div class="row content-row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="https://cftaskforce.files.wordpress.com/2016/01/inside-gym.jpg">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Schedule A Visit</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Click the 'Get Started' link to schedule a free 30 minute athlete assessment where you'll discuss your goals with one of our trainers.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="https://cftaskforce.files.wordpress.com/2016/01/coaching.jpg" alt="Coaching a class">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Free Workout With Us</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    No better way to get to know each other than training together.  Get a feel for our coaching, programming and community.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="https://cftaskforce.files.wordpress.com/2016/01/crossfit-academy.jpg" alt="CrossFit Academy Instruction">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Enroll in CrossFit Academy</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">If you're new to CrossFit or just want a refresher on the what, why and how of CrossFit, our CrossFit Academy course will set you up for success.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="https://cftaskforce.files.wordpress.com/2016/01/group.jpg" alt="Group CrossFit Class">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Join Our Group Programming</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Join any of our scheduled group classes or come in during open gym time. Easily find and reserve classes and track your results all from your mobile phone.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <a href="<%=get_started_path%>">
                            <div class="timeline-image">
                                <h4>Let's<br>Get<br>Started!</h4>
                            </div>    
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="social" class="bg-dark">
    <div class="container text-center wow fadeIn">
        <h2>The Internet Loves Us</h2>
        <hr class="colored">
        <div class="row content-row">
            <div class="col-md-4">
                <h3>Google</h3>
                <img src="https://cftaskforce.files.wordpress.com/2016/01/5-star.jpg" alt="5 star review">
                <!-- <p>(36 reviews)</p> -->
            </div>
            <div class="col-md-4">
                <h3>Facebook</h3>
                <img src="https://cftaskforce.files.wordpress.com/2016/01/5-star.jpg" alt="5 star review">
                <!-- <p>(128 reviews)</p> -->
            </div>
            <div class="col-md-4">
                <h3>Yelp</h3>
                <img src="https://cftaskforce.files.wordpress.com/2016/01/5-star.jpg" alt="5 star review">
                <!-- <p>(56 reviews)</p> -->
            </div>
        </div>
    </div>
</section>
<section id="insta">
    <div class="container text-center wow fadeIn">
        <h2>Insta Love</h2>
        <hr class="colored">
        <p>We love to showcase what our athletes are up.</p>
        <!-- instafeed here -->
        <div class="row">
            <div class="col-lg-12">
                <div id="instafeed">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="testimonials bg-gray">
    <div class="container wow fadeIn">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="testimonials-carousel">
                    <%= render partial: "pages/testimonials/eileen" %>
                    <%= render partial: "pages/testimonials/brayden" %>
                    <%= render partial: "pages/testimonials/meghan" %>
                    <%= render partial: "pages/testimonials/nick" %>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="pricing" class="pricing" style="background-image: url('https://cftaskforce.files.wordpress.com/2016/01/wall-back2.jpg')">
    <div class="container-fluid wow fadeIn" style="padding-right:40px;padding-left:40px;">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>Pricing</h2>
                <hr class="colored">
                <p class="pricing-subtext">Size up our packages and see what works best for you</p>
                <p>Active Duty Military or Student?  Inquire about our rates</p>
            </div>
        </div>
        <div class="row content-row">
            <div class="col-md-15">
                <div class="pricing-item">
                    <h3>Intramural</h3>
                    <hr class="colored">
                    <p>month to month</p>
                    <div class="price"><span class="number"><sup>$</sup>179</span> / month</div>
                    <ul class="list-group">
                        <li class="list-group-item">Unlimited Classes</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-15">
                <div class="pricing-item">
                    <h3>Club</h3>
                    <hr class="colored">
                    <p>3 month contract</p>
                    <div class="price"><span class="number"><sup>$</sup>169</span> / month</div>
                    <ul class="list-group">
                        <li class="list-group-item">Unlimited Classes</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-15">
                <div class="pricing-item">
                    <h3>Athlete</h3>
                    <hr class="colored">
                    <p>6 month contract</p>
                    <div class="price"><span class="number"><sup>$</sup>159</span> / month</div>
                    <ul class="list-group">
                        <li class="list-group-item">Unlimited Classes</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-15">
                <div class="pricing-item">
                    <h3>Competitor</h3>
                    <hr class="colored">
                    <p>12 month contract</p>
                    <div class="price"><span class="number"><sup>$</sup>149</span> / month</div>
                    <ul class="list-group">
                        <li class="list-group-item">Unlimited Classes</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-15">
                <div class="pricing-item">
                    <h3>Free Agent</h3>
                    <hr class="colored">
                    <p>punch card</p>
                    <div class="price"><span class="number"><sup>$</sup>159</span> / month</div>
                    <ul class="list-group">
                        <li class="list-group-item">10 Classes</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12" style="padding-left:10px;padding-right:10px;">
                <div class="pricing-item">
                    <h3>All of our packages grant you full access to our <span class="text-primary">15,000</span> sq ft facility and top notch individualized coaching</h3>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="drop-ins">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>We Love Drop Ins</h2>
                <hr class="colored">
            </div>
        </div>
        <div class="row content-row text-center">
            <div class="col-md-8 col-md-offset-2">
                <p>
                    Whether you're traveling for work, on vacation, or live locally and just want to try out the gym, we'd love for you to drop in and sweat with us!
                </p>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="about-content">
                    <h3>One</h3>
                    <p>Check out our <%= link_to "schedule", schedule_path %> to find a class that works for you.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="about-content">
                    <h3>Two</h3>
                    <p>Arrive 15 minutes early to sign a waiver and say hello to the coaches!</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="about-content">
                    <h3>Three</h3>
                    <p>Smile. Work Hard. Make a Sweat Angel.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="about-content">
                    <h3>Four</h3>
                    <p>Pay ($20, card or cash), think about buying one of our rad shirts and promise to come back again soon!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- profile modals -->
<% @coaches.each do |coach| %>
    <%= render partial: "profile_modal", locals: {coach: coach} %>
<% end %>

<!-- Thank you modal that shows after submitting Wodify lead form -->
<%= render partial: "thank_you_modal" %>


