<% content_for :head_top do %>
    <title>Cigar City CrossFit</title>
    <meta name="description" content="Whether you want to lose weight, build muscle or just look and feel better, we can help.  You don't have to be fit to start, just ready for change.">
<% end %>

<header style="background-image: url('https://cftaskforce.files.wordpress.com/2017/11/crossfit-push-press-bg.jpg');background-position:0 0">
    
    <div class="intro-content home">
        <p class="monster-mash-link">(or, register for the <a href="https://themonstermash2018.wodifyarena.com">Monster Mash comp</a>)</p>
        <%= link_to "Book Your No Sweat Intro", :book_your_no_sweat_intro, class: "btn cta-btn btn-primary" %>
        <div class="brand-name-intro">Have Fun | Make Friends | Get Results<div>
    </div>
</header>

<section id="what-is-crossfit" class="bg-gray">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h1>What is CrossFit</h1>
                <hr class="colored">
            </div>
        </div>
        <div class="row content-row">
            <div class="col-md-6">
                <div class="youtube" data-embed="mlVrkiCoKkg"> 
                    <div class="play-button"></div> 
                </div>
            </div>
            <div class="col-md-6">
                <h3 style="margin-top:-2px;margin-bottom:15px">CrossFit is community driven fitness.</h3>  
                <p>When you walk into the gym, people know your name and the energy is electric.  You're led by a coach and everyone works hard together.  You'll achieve things you didn't think were possible.  You'll get stronger and faster, leaner and meaner.  And, what you learn in the gym will spill over into all areas of your life.</p>

                <p>
                    If that sounds like marketing hype, don't take our word for it.  Look over our website, watch our testimonials, read our reviews.  Hundreds of people have walked though our doors, curious, just like you and have come out better version of themselves.
                </p>
            </div>
            <div class="row content-row">
                <div class="col-md-8 col-md-offset-2">
                    <a href="<%=book_your_no_sweat_intro_path%>" class="btn btn-lg btn-primary apply-btn">
                        When You're Ready, Book A No Sweat Intro
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="services" class="bg-white">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>What We Offer</h2>
                <hr class="colored">
                <p>
                    You're unique and so should your training plan. We offer the following coaching services to help you achieve your goals.
                </p>
            </div>
        </div>
        <%= render "service_offerings" %>
    </div>
</section>

<section class="bg-gray" id="team">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12">
                <h2>Our Team</h2>
                <p>We're a bit biased, but we think we've got the best coaches around.  Watch their videos to learn more!</p>
                <hr class="colored">
            </div>
        </div>
        <div class="row content-row">
            <div class="col-md-6">
                <div class="youtube" data-embed="qL8PZZ8pwyA"> 
                    <div class="play-button"></div> 
                </div>
                <h3>Coach Bunny</h3>
            </div>
            <div class="col-md-6">
                <div class="youtube" data-embed="aqD-J_KRkNw"> 
                    <div class="play-button"></div> 
                </div>
                <h3>Coach Mike</h3>
            </div>
        </div>
        <div class="row content-row">
            <div class="col-md-6">
                <div class="youtube" data-embed="WzqJcQhF800"> 
                    <div class="play-button"></div> 
                </div>
                <h3>Coach Melissa</h3>
            </div>
            <div class="col-md-6">
                <div class="youtube" data-embed="h_3gP_IqvlQ"> 
                    <div class="play-button"></div> 
                </div>
                <h3>Coach Donnie</h3>
            </div>
        </div>
    </div>
</section>
<aside class="cta-quote" style="background-image: url('https://i0.wp.com/cftaskforce.files.wordpress.com/2016/01/black-brick-background-min.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <span style="font-size:50px;font-weight:52px;font-weight:500;display:block">You don't have to be <span class="text-primary">fit to start</span>.</span><span class="quote">All you need is a readiness for change and a willingness to keep showing up.</span>

                <hr class=" colored">
                <%= link_to "Book Your No Sweat Intro", :book_your_no_sweat_intro, class: "btn btn-outline-light btn-lg"%>
            </div>
        </div>
    </div>
</aside>

<section id="join" class="bg-white">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>Success Stories</h2>
                <hr class=" colored">
            </div>
        </div>
        <div class="row content-row text-center">
            <div class="col-md-4">
                <div class="youtube" data-embed="xGD9Go2bOck"> 
                    <div class="play-button"></div> 
                </div>
                <h3>Carly & Sam</h3>
            </div>
            <div class="col-md-4">
                <div class="youtube" data-embed="4r7ZKE3vk5s"> 
                    <div class="play-button"></div> 
                </div>
                <h3>Brock & Alex</h3>
            </div>
            <div class="col-md-4">
                <div class="youtube" data-embed="y7KvI4ZCDNs"> 
                    <div class="play-button"></div> 
                </div>
                <h3>Stewards Foundation</h3>
            </div>
        </div>
        <div class="row content-row" style="margin-top:100px">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="https://cftaskforce.files.wordpress.com/2016/01/chris-headshot-min.jpg" alt="what is crossfit athlete testimonial 1">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Chris P.</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Cigar City CrossFit has been a great experience for me. I came in not knowing what to expect and a bit nervous as I had a previous shoulder injury. But I found a supportive community with coaches who took the time to get to know me and help me progress.*</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="https://i1.wp.com/cftaskforce.files.wordpress.com/2016/01/karen-headshot-min.jpg" alt="what is crossfit athlete testimonial 2">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Karen A.</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">I'm a bit older than the average CrossFitter, so I was nervous about starting.  But, all the coaches are so welcoming and the energy at the gym is infectious.  I love my workout buddies and can't imagine training anywhere else.*</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="https://cftaskforce.files.wordpress.com/2016/01/jonathan-squat-1-min.jpg" alt="what is crossfit athlete testimonial 3">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Jonathan C.</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    I love the atmosphere. It's motivating, fun and exciting. The people here are what make this place special. Come train with us!*
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="https://i2.wp.com/cftaskforce.files.wordpress.com/2016/01/courtney-headshot_optimized.jpg" alt="what is crossfit athlete testimonial 4">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Courtney B.</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Dang, I used to think working out consistently was hard.  I guess it is if you're stuck doing bicep curls at LA Fitness, but working out with all my new friends at Cigar City makes staying in shape the best part of my day. I love my new muscles. It's changed my focus from weight on the scale to weight on the bar!*</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <a href="<%=get_started_path%>">
                            <div class="timeline-image">
                                <h4>Let's<br>Get<br>Started!</h4>
                            </div>    
                        </a>
                    </li>
                </ul>
                <p style="text-align:center;margin-top:75px;"><i>*Disclaimer: Results may vary from client to client</i></p>
            </div>
        </div>
    </div>
</section>

<section id="social" class="bg-dark">
    <div class="container text-center">
        <h2>The Internet Loves Us</h2>
        <hr class="colored">
        <div class="row content-row">
            <div class="col-md-4">
                <h3>Google</h3>
                <img src="https://cftaskforce.files.wordpress.com/2016/01/5-star.jpg" alt="Google 5 star review">
                <!-- <p>(36 reviews)</p> -->
            </div>
            <div class="col-md-4">
                <h3>Facebook</h3>
                <img src="https://cftaskforce.files.wordpress.com/2016/01/5-star.jpg" alt="Facebook 5 star review">
                <!-- <p>(128 reviews)</p> -->
            </div>
            <div class="col-md-4">
                <h3>Yelp</h3>
                <img src="https://cftaskforce.files.wordpress.com/2016/01/5-star.jpg" alt=" Yelp 5 star review">
                <!-- <p>(56 reviews)</p> -->
            </div>
        </div>
    </div>
</section>
<section id="insta" class="bg-white">
    <div class="container text-center">
        <h2>Insta Love</h2>
        <hr class="colored">
        <p>We love to showcase what our athletes are up.</p>
        <!-- instafeed here -->
        <div class="row">
            <div class="col-lg-12">
                <div id="instafeed">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="drop-ins" class="bg-gray">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>We Love Drop Ins</h2>
                <hr class="colored">
            </div>
        </div>
        <div class="row content-row text-center">
            <div class="col-md-8 col-md-offset-2">
                <p>
                    Whether you're traveling for work, on vacation, or live locally and just want to try out the gym, we'd love for you to drop in and sweat with us!
                </p>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="about-content">
                    <h3>One</h3>
                    <p><a href="http://cigarcitycrossfit.zenplanner.com" target="_blank">Register</a> for the class. You can sign our waiver and pay online before coming in.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="about-content">
                    <h3>Two</h3>
                    <p>Smile. Work Hard. Make a Sweat Angel.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="about-content">
                    <h3>Three</h3>
                    <p>Think about buying one of our rad shirts.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="about-content">
                    <h3>Four</h3>
                    <p>Leave us a review on Yelp if you had a good time!</p>
                </div>
            </div>
        </div>
        <div class="row content-row text-center">
            <a href="http://cigarcitycrossfit.zenplanner.com" class="btn btn-lg btn-primary" target="_blank">
                Register for Class
            </a>
        </div>
    </div>
</section>
