<% content_for :head_top do %>
    <title>Cigar City CrossFit Sitemap Page</title>
    <meta name="description" content="A list of all the important links on Cigar City CrossFit">
<% end %>

<header style="background-image: url('https://cftaskforce.files.wordpress.com/2016/01/wall-back2.jpg');">
    <div class="intro-content">
        <div class="brand-name-intro">Sitemap<div>
        <hr class="colored">
        <div class="brand-name">Get There Faster</div>
    </div>
</header>

<section>
    <div class="container-fluid">
        <div class="row content-row">
        	<div class="col-lg-12" style="text-align:center">
                <h2>Top Level Navigation Links</h2>
                <h3><%= link_to "About Us", "/" %></h3>
                <h3><%= link_to "Get Started", get_started_path %></h3>
                <h3><%= link_to "WOD Blog", wod_path %></h3>
                <h3><%= link_to "Workout Schedule", schedule_path %></h3>
                <h3><%= link_to "Pricing", pricing_path %></h3>
                <h3><%= link_to "Contact Us", contact_us_path %></h3>
                <h3><%= link_to "Shit We Like", shit_we_like_path %></h3>
                <h3><%= link_to "Ebook Library", ebook_library_path %></h3>
                <h2>Blog Related Links</h2>
                <h3><%= link_to "Blog", "/blog" %></h3>
                <h3><%= link_to "Blog RSS", "/blog/rss" %></h3>
                <h3><%= link_to "Blog Atom", "/blog/atom" %></h3>
                <h3><%= link_to "Benjamin Bunn Blog Posts", "/blog/author/benjamin-bunn" %></h3>
                <h3><%= link_to "Michael Verdi Blog Posts", "/blog/author/michael-verdi" %></h3>
        		
        	</div>
        </div>
    </div>
</section>