<% content_for :head_top do %>
    <title>6 Week CrossFit Challenge</title>
    <meta name="description" content="Looking to get that awesome beach body just in time for summer?  Our six week program is designed to burn fat and build muscle.  Join today.">
<% end %>

<header style="background-image: url('https://cftaskforce.files.wordpress.com/2016/01/wall-back2.jpg');">
    <a href="/">
        <img src="<%=asset_path('logos/black-trans.png')%>" class="top-left-logo" alt="Cigar City CrossFit Logo">
    </a>
    <div class="header-wrapper">
    <div class="header">
        <h1>6 Week CrossFit Challenge</h1>
        <p>Burn Fat. Build Strength. Find Your Best Self.</p>
    </div>
    
    <div class="intro-content">
        <div class="embed-responsive embed-responsive-16by9 video">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/JY116kFosjg"></iframe>
        </div>
        <h3>Are you ready for your beach body?</h3>
    </div>
    </div>
</header>

<div class="challenge">

<section id="testimonials">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>Real People. Real Results.</h2>
                <hr class="colored">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive" src="https://cftaskforce.files.wordpress.com/2017/11/before-after-male.jpg"></a>
                <div class="caption">
                    <h3>Steve R.</h3>
                    <p>I had been doing the same routine for so long I was bored.  And with work and travel my body fat started to rise steadily.  I made the decision to try this 6 week challenge and I'm loving my results.  The nutrition plan helped a ton as I often struggled to eat the right foods when traveling.  </p>
                </div>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="https://cftaskforce.files.wordpress.com/2017/11/before-and-after-female-1.jpg"></a>
                <div class="caption">
                    <h3>Mary H.</h3>
                    <p>Loved it! The group classes really motivated me to keep coming even when my body was sore.  The coaches are funny and knowledge and I accomplished things I didn't even think were possible for me (I still hate burpees!). Definitely recommend.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2" style="margin-top:15px;">
            <%= render "shared/lead_form" %>
        </div>
    </div>
</section>

<section id="social-proof" class="bg-dark">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>The Internet Loves Us</h2>
                <hr class="colored">
            </div>
        </div>
        <div class="col-lg-12">
            <div class="row content-row">
                <div class="col-lg-4">
                    <div class="info-box">
                        <div class="row">
                            <div class="col-md-2">
                                <%= fa_icon "star", class: "fa-2x" %>
                            </div>
                            <div class="text col-md-10">
                                200+ 5-Star Reviews
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="info-box">
                        <div class="row">
                            <div class="col-md-2">
                                <%= fa_icon "thumbs-up", class: "fa-2x" %>
                            </div>
                            <div class="text col-md-10">
                                1800+ Facebook Likes
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="info-box">
                        <div class="row">
                            <div class="col-md-2">
                                <%= fa_icon "instagram", class: "fa-2x" %>
                            </div>
                            <div class="text col-md-10">
                                3000+ Instagram Followers
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row content-row">
                <div class="col-lg-6">
                    <img class="img-responsive" src="https://cftaskforce.files.wordpress.com/2017/11/screen-shot-2018-04-26-at-4-52-46-pm.png">
                </div>

                <div class="col-lg-6">
                    <img class="img-responsive" src="https://cftaskforce.files.wordpress.com/2017/11/screen-shot-2018-04-26-at-4-53-02-pm.png" style="float:right">
                </div>
            </div>

            <div class="col-lg-8 col-lg-offset-2" style="margin-top:50px;">
                <%= render "shared/lead_form" %>
            </div>
            
        </div>
    </div>
</section>

<section class="bg-white">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>Results Are Guaranteed</h2>
                <p>There's no risk.  We offer a 100% money back guarantee if you don't crush your goals</p>
                <hr class="colored">
            </div>
        </div>

        <div class="row content-row">
            <div class="col-lg-4">
                <div class="text-center">
                <img src="<%= asset_path('clipboard.svg') %>" style="height:140px" alt="clipboard icon">
                <h3>Tracked Results</h3>
                </div>
                <div class="about-content text-center">
                    <p>On the first and last day of the challenge you'll complete an InBody scan and work capacity test.  The InBody will show you the change in body fat percentage and lean muscle mass and the work capacity test will show you your improvement in muscle and aerobic strength.</p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="text-center">
                <img src="<%= asset_path('dumbbell.svg') %>" style="height:140px" alt="dumbbell icon">
                <h3>Small Group Training</h3>
                </div>
                <div class="about-content text-center">
                    <p>For six weeks, you'll train in a small group setting with other challenge athletes.  Together, you'll motivate each other to keep showing up and working hard.  Space is limited and we only accept athletes we think will be a great fit.</p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="text-center">
                    <img src="<%= asset_path('blender.svg') %>" style="height:140px" alt="blender icon">
                    <h3>Custom Nutrition Plan</h3>
                </div>
                <div class="about-content text-center">
                    <p>Having a custom nutrition plan is so important for reaching your goals. You won't find another gym that puts in the time and effort to create a nutrition plan that works for you.  Each athlete will have their own nutrition plan tailored to their goals.  We don't have a one size fits all approach.</p>
                </div>
            </div>
        </div>

        <div class="col-lg-8 col-lg-offset-2">
            <%= render "shared/lead_form" %>
        </div>
    </div>
</section>


<aside class="cta-quote" style="background-image: url('https://cftaskforce.files.wordpress.com/2016/01/crossfit-academy-bg-women.jpg');">
    <h2>The secret to getting ahead</h2>
    <h2>is getting started</h2>
</aside>

<section id="testimonials" class="bg-dark">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>Ready To Be Our Next Success Story?</h2>
                <hr class="colored">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive" src="https://cftaskforce.files.wordpress.com/2017/11/before-after-steven.jpg">
                <div class="caption">
                    <h3>Steven L.</h3>
                    <p>I was a competitive rower, but knew I needed to build more strength if I wanted to improve.  I signed up for the six week challenge and committed myself to following their eating plan and training 3x per week.  The workouts were hard but you kinda lose track of that because you just enjoy working out with everyone there.  If you're on the fence I highly recommend!</p>
                </div>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="https://cftaskforce.files.wordpress.com/2017/11/before-after-2-a.jpg">
                <div class="caption">
                    <h3>Debbie K.</h3>
                    <p>Being a bit older, I was definitely a bit intimidated by CrossFit style training but decided to give it a try after my daughter told me I would love it.  I met with Coach Verdi and he told me about the six week challenge and how the workouts could be scaled to my level. I gave it a go and I've loved it! I'm still scaling the workouts but I'm happy with my results so far!</p>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2" style="margin-top:15px;">
            <%= render "shared/lead_form" %>
        </div>
    </div>
</section>

<section class="bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <img src="https://cftaskforce.files.wordpress.com/2016/01/ben_and_mike.jpg">
            </div>
            <div class="col-lg-8">
                <h3 style="margin-top:0px">Michael and Ben - Owners, Cigar City CrossFit</h3>

                <p>
                    This challenge was created to help dedicated people get incredible results in six weeks.  We are trying to find the right men and women who will work hard, finish the full 6 weeks, and ultimately be an amazing representation of what is possible through our training program.  If this sounds like something you would like to be a part of, fill out an application ASAP.  We always fill up quickly.  We look forward to meeting you in person very soon.
                </p>
            </div>
        </div>
    </div>
</section>

<div class="portfolio-modal modal fade" id="schedule-form-modal" tabindex="-1" role="dialog" style="background:#222222" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="row">
                    <h2>You're One Step Away...</h2>
                    <div class="col-lg-12" style="margin:25 0;">
                        <div class="col-md-6">
                            <img src="https://cftaskforce.files.wordpress.com/2017/11/coach-mike-signup-finished-tur.jpg" style="margin-left:-30px"></a>
                        </div>
                        <div class="col-md-6">
                            <div class="coach-text">
                                <h3>Hi, I'm Coach Verdi</h3>
                                <p>We're so close to helping you reach your dream body.</p>
                                <p>Fill in your information below to schedule an in person meeting with me.  We'll just be talking about the challenge — no working out quite yet.</p>
                                <p>The meeting will only take 15 minutes. Try to book a spot within the next 1-2 days as we only can take a limited number of clients.</p>
                            </div>
                        </div>
                        
    
                        <iframe src="https://app.acuityscheduling.com/schedule.php?owner=15622888" width="100%" height="800" frameBorder="0"></iframe><script src="https://d3gxy7nm8y4yjr.cloudfront.net/js/embed.js" type="text/javascript"></script>
                    </div>
                    <div class="close-btn">
                        <a href="#" id="completed-booking" data-toggle="modal" class="btn btn-lg btn-primary">Click Here After Booking</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>