<h3 class="align">What do you want to work on today?</h3>

<div class="row text-center">
	<%= link_to(admin_coaches_path) do %>
		<div class="col-md-4 admin-nav-block">
			<h1>Coaches</h1>
			<%= fa_icon "users", class: "fa-4x" %>
		</div>
	<% end %>
		
	<%= link_to(admin_wods_path) do %>
		<div class="col-md-4 admin-nav-block">
			<h1>WODs</h1>
			<%= fa_icon "trophy", class: "fa-4x" %>
		</div>
	<% end %>
	
	<%= link_to("https://buttercms.com/home/", target: "_blank") do %>
		<div class="col-md-4 admin-nav-block">
			<h1>Blog</h1>
			<%= fa_icon "pencil-square-o", class: "fa-4x" %>
		</div>
	<% end %>
</div>

<div class="row text-center">
	<%= link_to(admin_messages_path) do %>
		<div class="col-md-4 admin-nav-block">
			<h1>Message</h1>
			<%= fa_icon "comment", class: "fa-4x" %>
		</div>
	<% end %>
</div>