<% form_route = action_name == "edit" ? admin_coach_path(@coach) : admin_coaches_path %>
<% submit_text = action_name == "edit" ? "Update Coach" : "Create Coach" %>
<%= form_for(@coach, :url => form_route) do |f| %>
  <% if @coach.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coach.errors.count, "error") %> prohibited this coach from being saved:</h2>

      <ul>
      <% @coach.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row control-group">
    <div class="form-group col-xs-12 floating-label-form-group controls">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
    </div>
  </div>

  <div class="row control-group">
    <div class="form-group col-xs-12 floating-label-form-group controls">
      <%= f.label :title %><br>
      <%= f.text_field :title, class: "form-control", placeholder: "Title" %>
    </div>
  </div>

  <div class="row control-group">
    <div class="form-group col-xs-12 floating-label-form-group controls">
      <%= f.label :description %><br>
      <%= f.text_area :description, class: "form-control", placeholder: "Description" %>
    </div>
  </div>

  
  <div class="row" style="margin-top:15px">
    <%= f.submit submit_text, class:  "btn btn-outline-dark" %>
  </div>
<% end %>
