<p id="notice"><%= notice %></p>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Description</th>
      <th>Priority</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
	  <tr>
	    <td><%= @coach.name %></td>
	    <td><%= @coach.title %></td>
	    <td><%= @coach.description %></td>
	    <td><%= @coach.priority %></td>
	  </tr>
  </tbody>
</table>

<p>
  <strong>Images:</strong>
  <ul>
  	<% @coach.images.each_with_index do |image, index| %>
  		<li>
  			<%= image_tag(image.url) %>
  			<%= link_to "Delete", admin_coach_image_path(@coach, index), :method => :delete, data: { confirm: "Are you sure you want to delete this image?" } %>
  		</li>
  	<% end %>
  </ul>
</p>

<section>
	<h2>Add More Images</h2>
	<%= form_for @coach, url: admin_coach_images_path(@coach), method: :post do |f| %>
		<div class="row control-group">
		  <div class="form-group col-xs-12 controls">
		    <%= f.label :images %><br>
		    <%= f.file_field :images, multiple: true, class: "form-control" %>
		  </div>
		</div>

		<div class="row" style="margin-top:15px">
		  <%= f.submit "Add More Images", class:  "btn btn-outline-dark" %>
		</div>
	<% end %>

	<%= link_to 'Edit', edit_admin_coach_path(@coach) %> |
	<%= link_to 'Back', admin_coaches_path %>
</section>
