<!-- To see a full list of attributes availabile on @post in this template,
enter that post slug here:  https://buttercms.com/docs/api/#!/posts/Blog_Post_retrieve

You'll get a real-time response from our API. -->


<!-- For maximum seo, use the 'seo_title' and 'meta_description' attributes on @post to set the <title> and <meta name="description">. Assuming you have content_for?(:head) in your main layout file you can do this: -->
<% content_for :head do %>
    <title><%= @post['seo_title'] %></title>
    <meta name="description" content="<%= @post['meta_description'] %>">
<% end %>

<script type="text/javascript">
    $(function(){
        $("nav").removeClass().addClass("navbar navbar-inverse navbar-fixed-top")
    });
    cbpAnimatedHeader.remove();
</script>


<section>
    <div class="container">
        <!-- This is the main body of the post page. -->
        <div class="post-preview">
            <h2 class="post-title">
                <%= @post['title'] %>
            </h2>

            <p class="post-meta">
            Posted by 
            <%= link_to("#{@post['author']['first_name']} #{@post['author']['last_name']}", 
                blog_author_path(:author_slug => @post['author']['slug'])) %>
             on 
             <%= @post['published'] %>

            <% @post['categories'].each do |category| %>
                <span class="btn btn-outline-dark btn-label">
                    <%= link_to(category['name'], blog_category_path(:category_slug => category['slug'])) %>
                </span>
            <% end %>
            </p>

            <p class="post-body">
                <%= @post['body'].html_safe %>
            </p>
        </div>

        <ul class="pager">
            <% if @post['previous_post'] %>
                <li class="previous"><%= link_to("&larr; Previous post".html_safe, blog_post_path(:slug => @post['previous_post']['slug'])) %></li>
            <% end %>

            <% if @post['next_post'] %>
                <li class="next"><%= link_to("Next post &rarr;".html_safe, blog_post_path(:slug => @post['next_post']['slug'])) %></li>
            <% end %>
        </ul>
    </div>
</section>

<section style="padding-top:50px">
    <div class="container">
        <div id="disqus_thread"></div>
    </div>
</section>

<script>
    var disqus_config = function () {
        this.page.url = "<%= @post['url'] %>";
        this.page.identifier = "<%= @post['id'] %>";
    };
    
    (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = '//cftaskforce.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>

<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>