<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New Lead from Website</h1>
    <h2>This lead is stored in Insightly, respond to it from there!</h2>

    <h3><strong>Lead Details</strong></h3>
    <p>First Name: <%= @lead[:first_name] %></p>
    <p>Last Name: <%= @lead[:last_name] %></p>
    <p>Email: <%= @lead[:email] %></p>
    <p>Phone: <%= @lead[:phone] %></p>
    <p> Source: <%= @lead[:leadsource] %></p>
    
  </body>
</html>