
<!-- To see a full list of attributes availabile on @post in this template,
enter that post slug here:  https://buttercms.com/docs/api/#!/posts/Blog_Post_retrieve

You'll get a real-time response from our API. -->


<!-- For maximum seo, use the 'seo_title' and 'meta_description' attributes on @post to set the <title> and <meta name="description">. Assuming you have content_for?(:head) in your main layout file you can do this: -->
<% content_for :head_top do %>
    <title>Cigar City CrossFit - <%= content_for :html_title, @post.seo_title %></title>
    <meta name="description" content="<%= content_for :meta_description, @post.meta_description %>">
<% end %>

<script type="text/javascript">
    $(function(){
        $("nav").removeClass().addClass("navbar navbar-inverse navbar-fixed-top")
    });
    cbpAnimatedHeader.remove();
</script>


<section>
    <div class="container">
        <!-- This is the main body of the post page. -->
        <div class="post-preview">
            <h1 class="post-title">
                <%= @post.title %>
            </h1>

            <p class="post-meta">
            Posted by 
            <%= link_to "#{@post.author.first_name} #{@post.author.last_name}", buttercms_author_path(@post.author.slug) %>
             on 
             <%= Time.parse(@post.published).strftime('%B %d, %Y') %>

            <% @post.categories.each do |category| %>
              <span class="btn btn-outline-dark btn-label">
              <%= link_to category.name, buttercms_category_path(category.slug), :title => category.name %>
              </span>
            <% end %>

            </p>

            <p class="post-body">
              <%= @post.body.html_safe %>
            </p>
        </div>

        <ul class="pager">
            <div>
              <% if @previous_page %>
                <%= link_to buttercms_blog_path(:page => @previous_page), class: "btn btn-lg btn-outline-dark" do %>
                  <i class="fa fa-arrow-left"></i> Prev
                <% end %>
              <% end %>

              <% if @next_page %>
                <%= link_to buttercms_blog_path(:page => @next_page), class: "btn btn-lg btn-outline-dark" do %>
                  Next <i class="fa fa-arrow-right"></i>
                <% end %>
              <% end %>
            </div>
        </ul>
    </div>
</section>

<section style="padding-top:50px">
    <div class="container">
        <div id="disqus_thread"></div>
    </div>
</section>

<script>
    var disqus_config = function () {
        this.page.url = "<%= @post.url %>";
        this.page.identifier = "<%= @post.url %>";
    };
    
    (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = '//cigarcitycrossfit.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>

<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
